@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@font-face {
  font-family: "GE-SS";
  src: url("../fonts/GE-SS-TWO-MEDIUM.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GE-SS";
  src: url("../fonts/GE-SS-TWO-LIGHT.otf");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
  background-color: #fff;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#app-container {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-top: 61px;
  height: 100%;
}
#app-container .side-menu {
  flex-shrink: 0;
  position: relative;
  top: -1px;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#app-container .side-menu::-webkit-scrollbar {
  display: none;
}
#app-container main.main-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
#app-container main.main-content.home {
  display: flex;
  flex-direction: column;
}
#app-container main.main-content::after {
  content: "";
  display: block;
  width: 100%;
  height: 2rem;
}

.card {
  border-width: 0;
  border-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: transparent;
}

.bg-blue {
  background-color: #48a3da;
}

.bg-red {
  background-color: #ea6666;
}

.bg-green {
  background-color: #5ecdc2;
}

.bg-yellow {
  background-color: #f6ba62;
}

.bg-darkblue {
  background-color: #2778a7;
}

.bg-lightblue {
  background-color: #6cbaea;
}

.bg-gray {
  background-color: #ebebeb;
}

.text-light {
  color: #ffffff !important;
}

.text-dark {
  color: #000000 !important;
}

.text-blue {
  color: #48a3da !important;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.btn {
  border-width: 0;
  font-weight: 600;
  vertical-align: middle;
}
.btn img {
  width: 15px;
  margin-right: 5px;
}
.btn:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.icon {
  max-width: 35px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.icon-sm {
  max-width: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.btn-red {
  color: #ffffff;
  background-color: #ea6666;
}
.btn-red:hover, .btn-red:not(:disabled):not(.disabled):active, .btn-red:focus, .btn-red:not(:disabled):not(.disabled):active:focus {
  background-color: #c54e4e;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #ffffff;
}

.btn-blue {
  color: #ffffff;
  background-color: #48a3da;
}
.btn-blue:hover, .btn-blue:not(:disabled):not(.disabled):active, .btn-blue:focus, .btn-blue:not(:disabled):not(.disabled):active:focus {
  background-color: #3b91c7;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #ffffff;
}

.notification {
  background-color: #ea6666;
  color: #fff;
  border-radius: 50%;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 15px;
  height: 15px;
}

.floating-notification {
  position: absolute;
  top: -5px;
  right: -5px;
}

.top-bar {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  z-index: 500;
  position: fixed;
}
.top-bar .logo {
  position: relative;
  margin-top: -4px;
  width: 85px;
}
.top-bar .profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: #ea6666;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.top-bar .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  font-size: 1rem;
}
.top-bar .breadcrumb a {
  color: #ffffff;
  font-weight: 600;
}
.top-bar .breadcrumb .breadcrumb-item.active {
  color: #ffffff;
}
.top-bar .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: none;
}
.top-bar .breadcrumb .breadcrumb-item::after {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0;
  width: 8px;
  background-image: url("../imgs/svg/breadcrumb-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
  content: "";
}
.top-bar .breadcrumb .breadcrumb-item:last-of-type::after {
  display: none;
}
.top-bar .breadcrumb .breadcrumb-item:first-of-type::after {
  display: block;
}
.top-bar .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
  font-weight: 600;
}
.top-bar .back-link {
  transform: rotate(180deg);
}
.top-bar .back-link img {
  width: 20px;
}
.top-bar .icon {
  max-width: 20px;
}
.top-bar .top-item {
  white-space: nowrap;
  border-left: 1px solid rgba(255, 255, 255, 0.34);
  height: 100%;
  display: flex;
  align-items: stretch;
  font-size: 0.8rem;
}
.top-bar .top-item .form-group {
  margin-bottom: 0;
}
.top-bar .top-item .form-group label {
  margin-bottom: 0;
}
.top-bar .top-item .form-group select {
  min-width: 150px;
  font-size: 0.8rem;
}
.top-bar .top-item p {
  display: flex;
  align-items: center;
}
.top-bar .top-item:last-of-type {
  border-right: 1px solid rgba(255, 255, 255, 0.34);
}

@media (max-width: 767.5px) {
  .top-bar .breadcrumb .breadcrumb-item::after {
    display: none;
  }
  .top-bar .breadcrumb .breadcrumb-item:last-of-type::after {
    display: none;
  }
  .top-bar .breadcrumb .breadcrumb-item:first-of-type::after {
    display: none;
  }
}
@media (max-width: 1200px) {
  .top-bar .top-item {
    font-size: 0.8rem;
  }
  .top-bar .top-item .form-group select {
    min-width: 120px;
    font-size: 0.8rem;
  }
}
.home-info-cards .container .swiper-container .swiper-slide {
  width: calc(100% / 5);
  padding: 0 8px;
}
.home-info-cards .container .swiper-container .swiper-slide:first-of-type {
  padding-left: 0;
}
.home-info-cards .container .swiper-container .swiper-slide:last-of-type {
  padding-right: 0;
}
.home-info-cards .container .swiper-container .swiper-slide .card {
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  padding: 40px 20px;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-weight: 400;
}
.home-info-cards .container .swiper-container .swiper-slide .card .number {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 991.5px) {
  .home-info-cards .container .swiper-container .swiper-slide {
    width: calc(100% / 5);
    padding: 0;
  }
  .home-info-cards .container .swiper-container .swiper-slide:last-of-type .card {
    margin-right: 0 !important;
    width: 100%;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card {
    min-width: 130px;
    width: 130px;
    font-size: 0.9rem;
    padding: 25px 0;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card .number {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .home-info-cards {
    background-color: #eeeeee;
  }
  .home-info-cards .container {
    max-width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .home-info-cards .container .swiper-container .swiper-slide {
    width: auto;
    padding: 0 8px;
  }
  .home-info-cards .container .swiper-container .swiper-slide:first-of-type {
    padding-left: 15px;
  }
  .home-info-cards .container .swiper-container .swiper-slide:last-of-type {
    padding-right: 15px;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card {
    min-width: 140px;
    width: 140px;
    font-size: 1.1rem;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card .number {
    font-size: 2rem;
  }
}
@media (max-width: 360px) {
  .home-info-cards .container .swiper-container .swiper-slide .card {
    min-width: 125px;
    width: 125px;
    font-size: 0.9rem;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card .number {
    font-size: 1.8rem;
  }
}
@media (max-height: 550px) {
  .home-info-cards .container .swiper-container .swiper-slide .card {
    padding: 8% 20px;
  }
}
.home-grid,
.settings-grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.home-grid .card,
.settings-grid .card {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 10px;
  transition: all 0.25s ease;
}
.home-grid .card .content,
.settings-grid .card .content {
  text-align: center;
}
.home-grid .card img,
.settings-grid .card img {
  width: 50%;
}
.home-grid .card:hover,
.settings-grid .card:hover {
  color: #000000;
  background-color: #cecece;
}

.settings-grid {
  grid-template-columns: repeat(6, 1fr);
}
.settings-grid .card .content {
  width: 100%;
}
.settings-grid .card img {
  width: 40%;
}

@media (max-width: 1200px) {
  .settings-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 991.5px) {
  .settings-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .home-grid-container {
    display: flex;
    flex-direction: column;
    height: 70%;
  }

  .home-grid {
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    max-height: 350px;
    min-height: 295px;
  }
  .home-grid .card {
    padding: 0 10px;
  }

  .settings-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .home-grid .card {
    font-size: 1rem;
  }
  .home-grid .card img {
    width: 40%;
  }

  .settings-grid .card {
    font-size: 0.9rem;
    padding: 12px 8px;
  }
}
@media (max-width: 400px) {
  .home-grid {
    max-height: 320px;
  }
}
@media (max-width: 420px) {
  .settings-grid .card {
    font-size: 0.9rem;
  }
  .settings-grid .card img {
    width: 35%;
  }
}
@media (max-width: 350px) {
  .settings-grid .card {
    font-size: 0.8rem;
  }
  .settings-grid .card img {
    width: 40%;
  }
}
@media (max-width: 319px) {
  .settings-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .settings-grid .card {
    font-size: 0.8rem;
  }
  .settings-grid .card img {
    width: 40%;
  }
}
@media (max-height: 570px) and (max-width: 767.5px) {
  .home-grid {
    min-height: 250px;
    max-width: 400px;
  }
  .home-grid .card {
    font-size: 1rem;
  }
  .home-grid .card img {
    width: 30%;
  }

  .home-grid-container {
    height: auto;
  }
}
.side-menu {
  width: 60px;
  background-color: #48a3da;
  transition: all 0.2s ease;
}
.side-menu.open {
  width: 250px;
}
.side-menu.open .side-menu-content a {
  padding: 10px;
  justify-content: flex-start;
  transition: all 0.1s ease;
}
.side-menu.open .side-menu-content a.active, .side-menu.open .side-menu-content a:hover {
  color: #ffffff;
  background-color: #ea6666;
}
.side-menu.open .side-menu-content a span {
  display: block;
}
.side-menu .side-menu-content {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.side-menu .side-menu-content a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: #ffffff;
}
.side-menu .side-menu-content a img {
  width: 30px;
}
.side-menu .side-menu-content a span {
  display: none;
  margin-left: 1rem;
}
.side-menu .side-menu-content::-webkit-scrollbar {
  display: none;
}
.side-menu .tooltip-menu {
  width: auto;
  padding: 10px;
  background-color: #ea6666;
  border-radius: 5px;
  position: fixed;
  top: 72px;
  left: 152px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s linear, top 0.25s ease, left 0.25s ease, right 0.25s ease, visibility 0s 0.1s;
  transform: translateY(-20%);
  z-index: 600;
}
.side-menu .tooltip-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -8px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ea6666;
}
.side-menu .tooltip-menu.show {
  visibility: visible;
  opacity: 1;
  left: 52px;
}

@media (max-width: 767.5px) {
  .side-menu {
    display: none;
  }
}
.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 400;
  color: #000000;
}
.form-group img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.form-group .invalid-feedback {
  display: none;
  font-size: 90%;
  font-weight: 400;
}
.form-group.invalid-input .invalid-feedback {
  display: block;
}
.form-group.invalid-input select,
.form-group.invalid-input .form-control {
  border: 1px solid #ea6666;
}

.form-control {
  color: #000000;
  background-color: #fff;
  border-width: 0;
  border-radius: 5px;
  width: 100%;
}
.form-control:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.form-control::-webkit-input-placeholder {
  color: #555555;
}
.form-control::-ms-input-placeholder {
  color: #555555;
}
.form-control::placeholder {
  color: #555555;
}

.input-with-img {
  position: relative;
}
.input-with-img .input-group-prepend {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
}
.input-with-img .input-group-prepend .input-group-text {
  height: 100%;
  width: 35px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: transparent;
  border-width: 0;
}
.input-with-img .input-group-prepend .input-group-text img {
  flex-shrink: 0;
  width: 17px;
}
.input-with-img .form-control {
  background-color: #fff;
  padding-left: 33px;
  border-radius: 5px;
}
.input-with-img .form-control.input-text-gray {
  color: #a5a5a5;
}
.input-with-img.img-other-side .input-group-prepend {
  left: auto;
  right: 0;
}
.input-with-img.img-other-side .form-control {
  padding-right: 33px;
  padding-left: 0.75rem;
}
.input-with-img > .form-control:not(:first-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input[type=time]::-webkit-calendar-picker-indicator,
input[type=date]::-webkit-calendar-picker-indicator {
  background: none;
}

.gj-timepicker,
.gj-datepicker {
  width: 100%;
}

.gj-icon {
  display: none;
}

.gj-picker-md [role=header] {
  background-color: #ea6666;
}

.gj-picker-md [role=footer] button.gj-button-md {
  color: #ea6666;
}

.gj-picker-md .arrow-begin,
.gj-picker-md [role=body] [role=arrow] {
  background-color: #ea6666;
}

.gj-picker-md .arrow-end {
  border: 16px solid #ea6666;
}

.gj-picker.timepicker [role=header] {
  direction: ltr;
}

.gj-picker-md table tr td.today div {
  color: #ea6666;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
  background: #ea6666;
}

.gj-timepicker-md,
.gj-datepicker-md,
.gj-textbox-md {
  font-family: "Open Sans", sans-serif;
}

.gj-icon.chevron-right,
.gj-icon.chevron-left {
  display: block !important;
}

.gj-picker-md div[role=navigator] {
  direction: ltr;
}

textarea.not-resized {
  resize: none;
}

.custom-select {
  background: #fff url("../imgs/svg/select-arrow.svg") no-repeat right 0.5rem center/13px 10px;
  border-width: 0;
}
.custom-select:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.form-control.input-gray,
.custom-select.input-gray {
  background-color: #f1f1f1;
}
.form-control.input-border,
.custom-select.input-border {
  border: 1.5px solid #d2d2d2;
}
.form-control.input-text-gray,
.custom-select.input-text-gray {
  color: #b0b0b0;
}
.form-control.input-text-gray::-webkit-input-placeholder,
.custom-select.input-text-gray::-webkit-input-placeholder {
  color: #b0b0b0;
}
.form-control.input-text-gray::-ms-input-placeholder,
.custom-select.input-text-gray::-ms-input-placeholder {
  color: #b0b0b0;
}
.form-control.input-text-gray::placeholder,
.custom-select.input-text-gray::placeholder {
  color: #b0b0b0;
}

.custom-switch.custom-switch-bar {
  padding-left: 2rem;
}
.custom-switch.custom-switch-bar .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-width: 0;
  background-color: #48a3da;
}
.custom-switch.custom-switch-bar .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #ea6666;
  -webkit-transform: translateX(0.75rem);
  transform: translateX(1.75rem);
}
.custom-switch.custom-switch-bar .custom-control-label {
  transform: scale(0.8);
  transform-origin: 0%;
  cursor: pointer;
}
.custom-switch.custom-switch-bar .custom-control-label::before {
  left: -2.25rem;
  width: 2.5rem;
  pointer-events: all;
  border-radius: 0.5rem;
  position: absolute;
  top: 0.5rem;
  display: block;
  height: 0.75rem;
  background-color: #cfcfcf;
  border-width: 0 !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.custom-switch.custom-switch-bar .custom-control-label::after {
  background-color: #b5b5b5;
  top: calc(0.25rem + 1px);
  left: calc(-2.25rem - 4px);
  width: calc(1rem + 2px);
  height: calc(1rem + 2px);
}
.custom-switch.custom-switch-box {
  padding-left: 2rem;
}
.custom-switch.custom-switch-box .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #fff;
}
.custom-switch.custom-switch-box .custom-control-input:checked ~ .custom-control-label::after {
  background-color: transparent;
  background-image: url("../imgs/svg/switch-box.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  transform: scale(1);
}
.custom-switch.custom-switch-box .custom-control-label {
  cursor: pointer;
}
.custom-switch.custom-switch-box .custom-control-label::before {
  left: -1.75rem;
  width: 1.2rem;
  pointer-events: all;
  border-radius: 2px;
  position: absolute;
  top: 0.2rem;
  display: block;
  height: 1.2rem;
  background-color: #fff !important;
  border: 1.5px solid #d2d2d2 !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.custom-switch.custom-switch-box .custom-control-label::after {
  background-color: transparent;
  top: 0.2rem;
  left: -1.75rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5px;
  transform: scale(0.1);
}
.custom-switch.custom-switch-box .custom-control-label:focus::before {
  background-color: red;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background: #b7b7b7;
  border-radius: 50%;
  transform: scale(0.5);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #b7b7b7;
  background-color: #fff !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-sm {
  max-width: 290px;
  margin: auto;
}

.nav-tabs {
  display: flex;
  align-items: stretch;
  border-bottom-width: 0;
}
.nav-tabs li .nav-link {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  background-color: #fff;
  border-width: 0;
  border-radius: 0;
  text-align: center;
  padding: 1.2rem 1rem;
  transition: all 0.2s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-tabs li .nav-link svg {
  height: 45px;
}
.nav-tabs li .nav-link.active {
  color: #ea6666;
}
.nav-tabs li:first-of-type {
  border-right: 1px solid #e3e3e3;
}

@media (max-width: 767.5px) {
  .nav-tabs {
    border-bottom: 2px solid #e3e3e3;
  }
  .nav-tabs li {
    flex: 1;
  }
  .nav-tabs li .nav-link svg {
    transform: scale(0.8);
  }
  .nav-tabs li .nav-link.active {
    color: #fff;
    background-color: #ea6666;
  }
  .nav-tabs li .nav-link.active svg path,
.nav-tabs li .nav-link.active svg text {
    fill: #fff;
  }
}
.tab-heading {
  font-weight: 600;
}

@media (max-width: 400px) {
  .tab-heading {
    font-size: 1.2rem;
  }
}
table.settings-table {
  border-top-width: 0;
  font-weight: 400;
  table-layout: auto;
  width: 100%;
}
table.settings-table thead {
  background-color: #ea6666;
  border-top-width: 0;
  font-weight: 600;
}
table.settings-table thead th {
  text-align: center;
  vertical-align: middle;
  border-top-width: 0;
  color: #ffffff;
  border-width: 0;
  padding: 1rem 0.25rem;
}
table.settings-table thead th:first-of-type {
  border-top-left-radius: 15px;
}
table.settings-table thead th:last-of-type {
  border-top-right-radius: 15px;
}
table.settings-table thead th .btn {
  display: flex;
  justify-content: center;
  max-width: 130px;
  margin: auto;
  font-size: 0.9rem;
}
table.settings-table tbody tr {
  cursor: pointer;
}
table.settings-table tr.disabled .edit-btn {
  visibility: hidden;
}
table.settings-table tr td {
  vertical-align: middle;
  text-align: center;
  border-width: 0;
  padding: 1rem 0.25rem;
}
table.settings-table tr td .icon {
  width: 18px;
}
table.settings-table .last-col {
  max-width: 80px;
}
table.settings-table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}
table.settings-table.table-striped tbody tr:nth-of-type(odd):hover {
  background-color: #e0e0e0;
}
table.settings-table.table-striped tbody tr:nth-of-type(even) {
  background-color: #eaeaea;
}
table.settings-table.table-striped tbody tr:nth-of-type(even):hover {
  background-color: #e0e0e0;
}
table.settings-table-2 thead th {
  text-align: left;
  padding: 1rem 0.75rem;
}
table.settings-table-2 thead th .search {
  max-width: 300px;
  margin: auto;
}
table.settings-table-2 thead th:first-of-type {
  width: 100px;
}
table.settings-table-2 tr td {
  text-align: left;
  padding: 1rem 0.75rem;
}
table.settings-table-2 .last-col {
  max-width: 90px;
}

.table-alternative .card {
  cursor: pointer;
  font-size: 1rem;
  background-color: #f2f2f2;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.25s ease;
}
.table-alternative .card p {
  font-weight: 400;
}
.table-alternative .card svg {
  transform: scale(0.7);
}
.table-alternative .card svg path {
  transition: all 0.25s ease;
}
.table-alternative .card:hover, .table-alternative .card.active {
  background-color: #ea6666;
  color: #ffffff;
}
.table-alternative .card:hover svg path, .table-alternative .card.active svg path {
  fill: #fff;
}
.table-alternative .card:hover .custom-switch .custom-control-input:checked ~ .custom-control-label::before, .table-alternative .card.active .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #48a3da;
}
.table-alternative .card:hover .custom-switch .custom-control-input:checked ~ .custom-control-label::after, .table-alternative .card.active .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
}
.table-alternative .card:hover .custom-switch .custom-control-label::before, .table-alternative .card.active .custom-switch .custom-control-label::before {
  background-color: #fff;
}
.table-alternative .card:hover .custom-switch .custom-control-label::after, .table-alternative .card.active .custom-switch .custom-control-label::after {
  background-color: #e8e8e8;
}
.table-alternative .card.disabled .edit-btn {
  visibility: hidden;
}

.edit-btn {
  margin-left: 1rem;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.modal .modal-content {
  border-width: 0;
  border-radius: 5px;
}
.modal .close {
  position: absolute;
  background-color: #ea6666;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  opacity: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .close img {
  width: 15px;
}
.modal .close:not(:disabled):not(.disabled):focus, .modal .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
  background-color: #c54e4e;
  outline: none;
}
.modal .img-success,
.modal .img-error {
  width: 60px;
  margin: auto;
}

.modal-dialog {
  margin: 1.5rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
.side-popup {
  background-color: #48a3da;
  color: #fff;
  position: relative;
  width: 0;
  transition: width 0.2s ease;
  flex-shrink: 0;
  position: relative;
  right: 0;
  top: -1px;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
}
.side-popup::-webkit-scrollbar {
  display: none;
}
.side-popup .close-popup {
  position: absolute;
  top: 20px;
  left: 10px;
}
.side-popup .close-popup img {
  width: 25px;
}
.side-popup.show {
  width: 350px;
  padding: 60px 0 20px;
}

@media (max-width: 991.5px) {
  .side-popup {
    position: fixed;
    right: 0;
    z-index: 1000;
    height: calc(100% - 61px);
    top: 60px;
    background-color: rgba(72, 163, 218, 0.98);
  }
}
@media (max-width: 575.5px) {
  .side-popup {
    right: 0;
    top: 60px;
    background-color: rgba(106, 164, 198, 0.98);
  }
  .side-popup.show {
    width: 100%;
  }
}
.profile-menu h2 {
  font-size: 2.2rem;
}
.profile-menu .profile-nav {
  width: 100%;
}
.profile-menu .profile-nav li {
  width: 100%;
}
.profile-menu .profile-nav li a {
  width: 100%;
  padding: 20px 15px;
  transition: all 0.25s ease;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  display: inline-block;
}
.profile-menu .profile-nav li a:hover {
  color: #ffffff;
  background-color: #3d94ca;
  background-color: #ea6666;
}
.profile-menu .profile-nav li a img {
  width: 25px;
}
.profile-menu .profile-nav li:last-of-type a {
  border-bottom-width: 0;
}
.profile-menu .form-group {
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
