@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
  background-color: #fff;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.flex-1 {
  flex: 1;
}

#app-container {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-top: 61px;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
#app-container .side-menu {
  flex-shrink: 0;
  position: relative;
  top: -1px;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#app-container .side-menu::-webkit-scrollbar {
  display: none;
}
#app-container main.main-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
#app-container main.main-content.home {
  display: flex;
  flex-direction: column;
}
#app-container main.main-content::after {
  content: "";
  display: block;
  width: 100%;
  height: 3rem;
}
#app-container.full-height {
  padding-top: 0;
}

@media (max-width: 390px) {
  #app-container {
    padding-top: 46px;
  }
}
.container-fluid-max-width {
  max-width: 1400px;
  margin-left: 0;
}

.max-700 {
  max-width: 700px !important;
}

.card {
  border-width: 0;
  border-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: transparent;
}

.bg-blue {
  background-color: #48a3da;
}

.bg-red {
  background-color: #ea6666;
}

.bg-green {
  background-color: #5ecdc2;
}

.bg-yellow {
  background-color: #f6ba62;
}

.bg-darkblue {
  background-color: #2778a7;
}

.bg-lightblue {
  background-color: #6cbaea;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #ebebeb;
}

.bg-gray2 {
  background-color: #eaeaea;
}

.text-light {
  color: #ffffff !important;
}

.text-dark {
  color: #000000 !important;
}

.text-blue {
  color: #48a3da !important;
}

a:hover {
  text-decoration: none;
}

a,
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

p {
  margin-bottom: 0;
}

.btn {
  border-radius: 0.25rem;
  border-width: 0;
  font-weight: 600;
  vertical-align: middle;
}
.btn img {
  width: 15px;
  margin-right: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.btn:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

@media (max-width: 400px) {
  .btn.btn-sm-small {
    font-size: 0.7rem;
  }
  .btn.btn-sm-small img {
    width: 10px;
  }
}
.icon {
  max-width: 35px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.icon-sm {
  max-width: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.btn-red {
  color: #ffffff;
  background-color: #ea6666;
}
.btn-red:hover, .btn-red:not(:disabled):not(.disabled):active, .btn-red:focus, .btn-red:not(:disabled):not(.disabled):active:focus {
  background-color: #c54e4e;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #ffffff;
}

.btn-blue {
  color: #ffffff;
  background-color: #48a3da;
}
.btn-blue:hover, .btn-blue:not(:disabled):not(.disabled):active, .btn-blue:focus, .btn-blue:not(:disabled):not(.disabled):active:focus {
  background-color: #3b91c7;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #ffffff;
}

.btn-border-gray {
  color: #000000;
  background-color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  border: 1px solid #dadada;
}
.btn-border-gray:hover, .btn-border-gray:not(:disabled):not(.disabled):active, .btn-border-gray:focus, .btn-border-gray:not(:disabled):not(.disabled):active:focus {
  background-color: #dadada;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #000000;
}

.btn-hover-gray {
  color: #000000;
  background-color: transparent;
  transition: all 0.25s ease;
}
.btn-hover-gray:hover, .btn-hover-gray:not(:disabled):not(.disabled):active, .btn-hover-gray:focus, .btn-hover-gray:not(:disabled):not(.disabled):active:focus {
  background-color: #e3e3e3;
}

.notification {
  background-color: #ea6666;
  color: #fff;
  border-radius: 50%;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 15px;
  height: 15px;
}

.floating-notification {
  position: absolute;
  top: -5px;
  right: -5px;
}

ul {
  list-style: none;
}

.prescription .drug-img {
  width: 15px;
}
.prescription .border-bottom {
  border-bottom: 2px solid #dfdfdf !important;
}

.top-bar {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  z-index: 500;
  position: fixed;
}
.top-bar .logo {
  position: relative;
  margin-top: -4px;
  width: 85px;
}
.top-bar .profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: #ea6666;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.top-bar .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.top-bar .breadcrumb a {
  color: #ffffff;
  font-weight: 600;
}
.top-bar .breadcrumb .breadcrumb-item.active {
  color: #ffffff;
}
.top-bar .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: none;
}
.top-bar .breadcrumb .breadcrumb-item::after {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0;
  width: 8px;
  background-image: url("../imgs/svg/breadcrumb-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
  content: "";
}
.top-bar .breadcrumb .breadcrumb-item:last-of-type::after {
  display: none;
}
.top-bar .breadcrumb .breadcrumb-item:first-of-type::after {
  display: block;
}
.top-bar .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
  font-weight: 600;
}
.top-bar .back-link {
  transform: rotate(180deg);
}
.top-bar .back-link img {
  width: 20px;
}
.top-bar .icon {
  max-width: 20px;
}
.top-bar .top-item {
  white-space: nowrap;
  border-left: 1px solid rgba(255, 255, 255, 0.34);
  height: 100%;
  display: flex;
  align-items: stretch;
  font-size: 0.8rem;
}
.top-bar .top-item .form-group {
  margin-bottom: 0;
}
.top-bar .top-item .form-group label {
  margin-bottom: 0;
}
.top-bar .top-item .form-group select,
.top-bar .top-item .form-group .dropdown-toggle {
  min-width: 150px;
  font-size: 0.8rem;
}
.top-bar .top-item p {
  display: flex;
  align-items: center;
}
.top-bar .top-item:last-of-type {
  border-right: 1px solid rgba(255, 255, 255, 0.34);
}

@media (max-width: 767.5px) {
  .top-bar .breadcrumb .breadcrumb-item::after {
    display: none;
  }
  .top-bar .breadcrumb .breadcrumb-item:last-of-type::after {
    display: none;
  }
  .top-bar .breadcrumb .breadcrumb-item:first-of-type::after {
    display: none;
  }
}
@media (max-width: 1200px) {
  .top-bar .top-item {
    font-size: 0.8rem;
  }
  .top-bar .top-item .form-group select {
    min-width: 120px;
    font-size: 0.8rem;
  }
}
@media (max-width: 390px) {
  .top-bar .icon {
    max-width: 18px;
  }
  .top-bar .breadcrumb {
    font-size: 0.8rem;
  }
  .top-bar .back-link img {
    width: 15px;
  }
  .top-bar .profile-btn {
    font-size: 1rem;
    width: 30px;
    height: 30px;
  }
}
.home-info-cards .container .swiper-container .swiper-slide {
  width: calc(100% / 5);
  padding: 0 8px;
}
.home-info-cards .container .swiper-container .swiper-slide:first-of-type {
  padding-left: 0;
}
.home-info-cards .container .swiper-container .swiper-slide:last-of-type {
  padding-right: 0;
}
.home-info-cards .container .swiper-container .swiper-slide .card {
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  padding: 40px 20px;
  font-size: 1.1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-weight: 300;
}
.home-info-cards .container .swiper-container .swiper-slide .card .number {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 991.5px) {
  .home-info-cards .container .swiper-container .swiper-slide {
    width: calc(100% / 5);
    padding: 0;
  }
  .home-info-cards .container .swiper-container .swiper-slide:last-of-type .card {
    margin-right: 0 !important;
    width: 100%;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card {
    min-width: 130px;
    width: 130px;
    font-size: 0.9rem;
    padding: 25px 0;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card .number {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .home-info-cards {
    background-color: #eeeeee;
  }
  .home-info-cards .container {
    max-width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .home-info-cards .container .swiper-container .swiper-slide {
    width: auto;
    padding: 0 8px;
  }
  .home-info-cards .container .swiper-container .swiper-slide:first-of-type {
    padding-left: 15px;
  }
  .home-info-cards .container .swiper-container .swiper-slide:last-of-type {
    padding-right: 15px;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card {
    min-width: 140px;
    width: 140px;
    font-size: 1.1rem;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card .number {
    font-size: 2rem;
  }
}
@media (max-width: 360px) {
  .home-info-cards .container .swiper-container .swiper-slide .card {
    min-width: 125px;
    width: 125px;
    font-size: 0.9rem;
  }
  .home-info-cards .container .swiper-container .swiper-slide .card .number {
    font-size: 1.8rem;
  }
}
@media (max-height: 550px) {
  .home-info-cards .container .swiper-container .swiper-slide .card {
    padding: 8% 20px;
  }
}
.home-grid,
.settings-grid,
.branches-grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.home-grid .card,
.settings-grid .card,
.branches-grid .card {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 10px;
  transition: all 0.25s ease;
}
.home-grid .card .content,
.settings-grid .card .content,
.branches-grid .card .content {
  text-align: center;
}
.home-grid .card img,
.settings-grid .card img,
.branches-grid .card img {
  width: 50%;
}
.home-grid .card:hover,
.settings-grid .card:hover,
.branches-grid .card:hover {
  color: #000000;
  background-color: #cecece;
}

.settings-grid {
  grid-template-columns: repeat(6, 1fr);
}
.settings-grid .card .content {
  width: 100%;
}
.settings-grid .card img {
  width: 40%;
}

#app-container main.branches-grid-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#app-container main.branches-grid-container::after {
  display: none;
}
#app-container main.branches-grid-container > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 325px;
  max-height: 600px;
}

.branches-grid {
  max-width: 900px;
  grid-template-columns: repeat(3, 1fr);
}
.branches-grid .card .content {
  width: 100%;
}
.branches-grid .card img {
  height: 90px;
  width: auto;
}
.branches-grid.max-700 .card img {
  height: 65px;
}

@media (max-width: 767.5px) {
  .branches-grid .card img {
    height: 65px;
  }
}
@media (max-width: 575.5px) {
  #app-container main.branches-grid-container {
    display: block;
  }
  #app-container main.branches-grid-container > .container {
    display: block;
    min-height: 325px;
    max-height: none;
  }

  .branches-grid:not(.max-700) {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .branches-grid:not(.max-700) .card {
    padding: 20px 10px;
    flex-direction: row;
    max-width: 350px;
    width: 100%;
  }
  .branches-grid:not(.max-700) .card .content {
    width: 100%;
  }
  .branches-grid:not(.max-700) .card img {
    height: auto;
    width: 45px;
  }

  .branches-grid.max-700 {
    grid-gap: 0;
    border-bottom: 1px solid #e3e3e3;
  }
  .branches-grid.max-700 .card {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    background-color: #fff;
    padding: 10px 5px;
    flex-direction: column;
    width: 100%;
    border-right: 1px solid #e3e3e3;
  }
  .branches-grid.max-700 .card:last-of-type {
    border-right-width: 0;
  }
  .branches-grid.max-700 .card .content {
    font-size: 0.8rem;
  }
  .branches-grid.max-700 .card img {
    height: 30px;
  }
}
@media (max-width: 1200px) {
  .settings-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 991.5px) {
  .settings-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .home-grid-container {
    display: flex;
    flex-direction: column;
    height: 70%;
  }

  .home-grid {
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    max-height: 350px;
    min-height: 295px;
  }
  .home-grid .card {
    padding: 0 10px;
  }

  .settings-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .home-grid .card {
    font-size: 1rem;
  }
  .home-grid .card img {
    width: 40%;
  }

  .settings-grid .card {
    font-size: 0.9rem;
    padding: 12px 8px;
  }
}
@media (max-width: 400px) {
  .home-grid {
    max-height: 320px;
  }
}
@media (max-width: 420px) {
  .settings-grid .card {
    font-size: 0.8rem;
  }
  .settings-grid .card img {
    width: 35%;
  }
}
@media (max-width: 350px) {
  .settings-grid .card {
    font-size: 0.7rem;
  }
  .settings-grid .card img {
    width: 40%;
  }
}
@media (max-width: 319px) {
  .settings-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .settings-grid .card {
    font-size: 0.8rem;
  }
  .settings-grid .card img {
    width: 40%;
  }
}
@media (max-height: 570px) and (max-width: 767.5px) {
  .home-grid {
    min-height: 250px;
    max-width: 400px;
  }
  .home-grid .card {
    font-size: 1rem;
  }
  .home-grid .card img {
    width: 30%;
  }

  .home-grid-container {
    height: auto;
  }
}
.side-menu {
  width: 60px;
  background-color: #48a3da;
  transition: all 0.2s ease;
}
.side-menu.open {
  width: 250px;
}
.side-menu.open .side-menu-content a {
  padding: 10px;
  justify-content: flex-start;
  transition: all 0.1s ease;
}
.side-menu.open .side-menu-content a.active, .side-menu.open .side-menu-content a:hover {
  color: #ffffff;
  background-color: #ea6666;
}
.side-menu.open .side-menu-content a span {
  display: block;
}
.side-menu .side-menu-content {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.side-menu .side-menu-content a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: #ffffff;
}
.side-menu .side-menu-content a img {
  width: 30px;
}
.side-menu .side-menu-content a span {
  display: none;
  margin-left: 1rem;
}
.side-menu .side-menu-content::-webkit-scrollbar {
  display: none;
}
.side-menu .tooltip-menu {
  width: auto;
  padding: 10px;
  background-color: #ea6666;
  border-radius: 5px;
  position: fixed;
  top: 72px;
  left: 152px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s linear, top 0.25s ease, left 0.25s ease, right 0.25s ease, visibility 0s 0.1s;
  transform: translateY(-20%);
  z-index: 600;
}
.side-menu .tooltip-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -8px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ea6666;
}
.side-menu .tooltip-menu.show {
  visibility: visible;
  opacity: 1;
  left: 52px;
}

@media (max-width: 767.5px) {
  .side-menu {
    display: none;
  }
}
.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 300;
  color: #000000;
}
.form-group img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.form-group .invalid-feedback {
  display: none;
  font-size: 90%;
  font-weight: 300;
}
.form-group.invalid-input .invalid-feedback {
  display: block;
}
.form-group.invalid-input select,
.form-group.invalid-input .form-control {
  border: 1.5px solid #ea6666;
}

.form-control {
  color: #000000;
  background-color: #fff;
  border-width: 0;
  border-radius: 5px;
  width: 100%;
}
.form-control:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.form-control::-webkit-input-placeholder {
  color: #555555;
}
.form-control::-ms-input-placeholder {
  color: #555555;
}
.form-control::placeholder {
  color: #555555;
}

.input-with-img {
  position: relative;
}
.input-with-img .input-group-prepend {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
}
.input-with-img .input-group-prepend .input-group-text {
  height: 100%;
  width: 40px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: transparent;
  border-width: 0;
}
.input-with-img .input-group-prepend .input-group-text img {
  flex-shrink: 0;
  width: 25px;
  max-height: 20px;
}
.input-with-img .form-control {
  background-color: #fff;
  padding-left: 35px;
  border-radius: 5px;
}
.input-with-img .form-control.input-text-gray {
  color: #a5a5a5;
}
.input-with-img.img-other-side .input-group-prepend {
  left: auto;
  right: 0;
}
.input-with-img.img-other-side .form-control {
  padding-right: 35px;
  padding-left: 0.75rem;
}
.input-with-img > .form-control:not(:first-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input[type=time]::-webkit-calendar-picker-indicator,
input[type=date]::-webkit-calendar-picker-indicator {
  background: none;
}

.gj-timepicker,
.gj-datepicker {
  width: 100%;
}

.gj-icon {
  display: none;
}

.gj-picker-md [role=header] {
  background-color: #ea6666;
}

.gj-picker-md [role=footer] button.gj-button-md {
  color: #ea6666;
}

.gj-picker-md .arrow-begin,
.gj-picker-md [role=body] [role=arrow] {
  background-color: #ea6666;
}

.gj-picker-md .arrow-end {
  border: 16px solid #ea6666;
}

.gj-picker.timepicker [role=header] {
  direction: ltr;
}

.gj-picker-md table tr td.today div {
  color: #ea6666;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
  background: #ea6666;
}

.gj-timepicker-md,
.gj-datepicker-md,
.gj-textbox-md {
  font-family: "Open Sans", sans-serif;
}

.gj-icon.chevron-right,
.gj-icon.chevron-left {
  display: block !important;
}

.gj-picker-md div[role=navigator] {
  direction: ltr;
}

textarea.not-resized {
  resize: none;
}

.custom-select {
  background: #fff url("../imgs/svg/select-arrow.svg") no-repeat right 0.5rem center/13px 10px;
  border-width: 0;
}
.custom-select:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.form-control.input-gray,
.custom-select.input-gray {
  background-color: #f1f1f1;
}
.form-control.input-border,
.custom-select.input-border {
  border: 1.5px solid #d2d2d2;
}
.form-control.input-text-gray,
.custom-select.input-text-gray {
  color: #b0b0b0;
}
.form-control.input-text-gray::-webkit-input-placeholder,
.custom-select.input-text-gray::-webkit-input-placeholder {
  color: #b0b0b0;
}
.form-control.input-text-gray::-ms-input-placeholder,
.custom-select.input-text-gray::-ms-input-placeholder {
  color: #b0b0b0;
}
.form-control.input-text-gray::placeholder,
.custom-select.input-text-gray::placeholder {
  color: #b0b0b0;
}

.custom-switch.custom-switch-bar {
  padding-left: 2rem;
}
.custom-switch.custom-switch-bar .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-width: 0;
  background-color: #48a3da;
}
.custom-switch.custom-switch-bar .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #ea6666;
  -webkit-transform: translateX(0.75rem);
  transform: translateX(1.75rem);
}
.custom-switch.custom-switch-bar .custom-control-label {
  transform: scale(0.8);
  transform-origin: 0%;
  cursor: pointer;
}
.custom-switch.custom-switch-bar .custom-control-label::before {
  left: -2.25rem;
  width: 2.5rem;
  pointer-events: all;
  border-radius: 0.5rem;
  position: absolute;
  top: 0.5rem;
  display: block;
  height: 0.75rem;
  background-color: #cfcfcf;
  border-width: 0 !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.custom-switch.custom-switch-bar .custom-control-label::after {
  background-color: #b5b5b5;
  top: calc(0.25rem + 1px);
  left: calc(-2.25rem - 4px);
  width: calc(1rem + 2px);
  height: calc(1rem + 2px);
}
.custom-switch.custom-switch-bar.custom-switch-bar-white .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #fff;
}
.custom-switch.custom-switch-bar.custom-switch-bar-white .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #ea6666;
}
.custom-switch.custom-switch-bar.custom-switch-bar-white .custom-control-label {
  transform: scale(0.8);
  cursor: pointer;
}
.custom-switch.custom-switch-bar.custom-switch-bar-white .custom-control-label::before {
  background-color: #cfcfcf;
  border-width: 0 !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.custom-switch.custom-switch-bar.custom-switch-bar-white .custom-control-label::after {
  background-color: #b5b5b5;
}
.custom-switch.custom-switch-box {
  padding-left: 2rem;
}
.custom-switch.custom-switch-box .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #fff;
}
.custom-switch.custom-switch-box .custom-control-input:checked ~ .custom-control-label::after {
  background-color: transparent;
  background-image: url("../imgs/svg/switch-box.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  transform: scale(1);
}
.custom-switch.custom-switch-box .custom-control-label {
  cursor: pointer;
}
.custom-switch.custom-switch-box .custom-control-label::before {
  left: -1.75rem;
  width: 1.2rem;
  pointer-events: all;
  border-radius: 2px;
  position: absolute;
  top: 0.2rem;
  display: block;
  height: 1.2rem;
  background-color: #fff !important;
  border: 1.5px solid #d2d2d2 !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.custom-switch.custom-switch-box .custom-control-label::after {
  background-color: transparent;
  top: 0.2rem;
  left: -1.75rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5px;
  transform: scale(0.1);
}
.custom-switch.custom-switch-box .custom-control-label:focus::before {
  background-color: red;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background: #b7b7b7;
  border-radius: 50%;
  transform: scale(0.5);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #b7b7b7;
  background-color: #fff !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-sm {
  max-width: 330px;
  margin: auto;
}

.bootstrap-select {
  width: 100%;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.bootstrap-select .dropdown-item {
  padding: 0.25rem 0.75rem;
}
.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:active {
  background-color: #ea6666;
}
.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:focus, .bootstrap-select .dropdown-item:active {
  outline: 0 !important;
}
.bootstrap-select .dropdown-toggle {
  color: #000000;
  font-weight: 300;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  border-width: 0;
  background-color: #fff;
}
.bootstrap-select .dropdown-toggle::after {
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-top: 0.4em solid #b7b7b7;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
}
.bootstrap-select .dropdown-toggle:active, .bootstrap-select .dropdown-toggle.active, .bootstrap-select .dropdown-toggle:focus {
  border-width: 0;
  outline: 0 !important;
  background-color: #fff !important;
}
.bootstrap-select .dropdown-toggle .filter-option .filter-option-inner {
  height: 100%;
}
.bootstrap-select .dropdown-toggle .filter-option .filter-option-inner .filter-option-inner-inner {
  height: 100%;
  display: flex;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder {
  color: #000000;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: #000000;
}
.bootstrap-select .dropdown-menu {
  background-color: #f1f1f1;
  color: #000000;
}
.bootstrap-select .dropdown-menu .dropdown-item {
  display: flex;
}
.bootstrap-select .selectpicker.input-gray + .dropdown-toggle {
  background-color: #f1f1f1;
}
.bootstrap-select .selectpicker.input-gray + .dropdown-toggle:active, .bootstrap-select .selectpicker.input-gray + .dropdown-toggle.active, .bootstrap-select .selectpicker.input-gray + .dropdown-toggle:focus {
  border-width: 0;
  outline: 0 !important;
  background-color: #f1f1f1 !important;
}
.bootstrap-select .selectpicker.input-gray + .dropdown-toggle + .dropdown-menu, .bootstrap-select .selectpicker.input-gray + .dropdown-toggle + .dropdown-menu .dropdown-menu {
  background-color: #f1f1f1;
}
.bootstrap-select .selectpicker.input-border + .dropdown-toggle {
  border: 1.5px solid #d2d2d2;
}
.bootstrap-select .selectpicker.input-border + .dropdown-toggle:active, .bootstrap-select .selectpicker.input-border + .dropdown-toggle.active, .bootstrap-select .selectpicker.input-border + .dropdown-toggle:focus {
  border: 1.5px solid #d2d2d2;
}
.bootstrap-select .selectpicker.input-text-gray {
  color: #b0b0b0;
}
.bootstrap-select .selectpicker.input-text-gray + .dropdown-toggle {
  color: #b0b0b0;
}
.bootstrap-select .selectpicker.input-text-gray + .dropdown-toggle:active, .bootstrap-select .selectpicker.input-text-gray + .dropdown-toggle.active, .bootstrap-select .selectpicker.input-text-gray + .dropdown-toggle:focus {
  border: 1.5px solid #d2d2d2;
}
.bootstrap-select.dropup .dropdown-toggle::after {
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-top: 0;
  border-right: 0.4em solid transparent;
  border-bottom: 0.4em solid #b7b7b7;
  border-left: 0.4em solid transparent;
}
.bootstrap-select .btn-light:not(:disabled):not(.disabled).active:focus,
.bootstrap-select .btn-light:not(:disabled):not(.disabled):active:focus,
.bootstrap-select .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.bootstrap-select.show .btn-light.dropdown-toggle {
  background-color: #fff;
}
.bootstrap-select.show .selectpicker.input-gray + .dropdown-toggle {
  background-color: #f1f1f1;
}
.bootstrap-select.show .selectpicker.input-gray + .dropdown-toggle:active, .bootstrap-select.show .selectpicker.input-gray + .dropdown-toggle.active, .bootstrap-select.show .selectpicker.input-gray + .dropdown-toggle:focus {
  background-color: #f1f1f1 !important;
}

.custom-file .custom-file-input {
  display: none;
}
.custom-file label.nav-link {
  cursor: pointer;
}
.custom-file label.nav-link:hover {
  background-color: #ea6666;
  color: #ffffff;
}
.custom-file label.nav-link:hover svg path,
.custom-file label.nav-link:hover svg ellipse {
  fill: #ffffff;
}

.nav-tabs {
  display: flex;
  align-items: stretch;
  border-bottom-width: 0;
}
.nav-tabs li .nav-link {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  background-color: #fff;
  border-width: 0;
  border-radius: 0;
  text-align: center;
  padding: 0.8rem 1rem;
  transition: all 0.2s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-tabs li .nav-link svg {
  height: 45px;
}
.nav-tabs li .nav-link.active {
  color: #ea6666;
}
.nav-tabs li:first-of-type {
  border-right: 1px solid #e3e3e3;
}

@media (max-width: 767.5px) {
  .nav-tabs {
    border-bottom: 2px solid #e3e3e3;
  }
  .nav-tabs li {
    flex: 1;
  }
  .nav-tabs li .nav-link svg {
    transform: scale(0.8);
  }
  .nav-tabs li .nav-link.active {
    color: #fff;
    background-color: #ea6666;
  }
  .nav-tabs li .nav-link.active svg path,
.nav-tabs li .nav-link.active svg text {
    fill: #fff;
  }
}
.tab-heading {
  font-weight: 600;
}

@media (max-width: 400px) {
  .tab-heading {
    font-size: 1.2rem;
  }
}
.visits-top-nav .notification-btn {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.35rem 0.6rem;
  flex-shrink: 0;
}
.visits-top-nav .notification-btn img {
  width: 20px;
  margin-left: 0;
  margin-right: 0;
}
.visits-top-nav .nav-tabs {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.visits-top-nav .nav-tabs::-webkit-scrollbar {
  display: none;
}
.visits-top-nav .nav-tabs li {
  border-right: 1px solid #e3e3e3;
}
.visits-top-nav .nav-tabs li .nav-link {
  padding: 0.7rem 1rem;
  white-space: nowrap;
}
.visits-top-nav .nav-tabs li .nav-link.active {
  background-color: #ea6666;
  color: #ffffff;
}

.side-popup .nav-tabs {
  margin-top: 25px;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.side-popup .nav-tabs li {
  margin-bottom: 0;
  border-right: 1px solid #e3e3e3;
}
.side-popup .nav-tabs li .nav-link {
  color: #ffffff;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
}
.side-popup .nav-tabs li .nav-link img {
  width: 35px;
}
.side-popup .nav-tabs li .nav-link.active {
  color: #ffffff;
  background-color: #ea6666;
}
.side-popup .nav-tabs.justify-content-center li:last-of-type {
  border-right-width: 0;
}

.side-popup .tab-pane .nav-tabs {
  margin-top: 0;
  border-top-width: 0;
}
.side-popup .tab-pane .nav-tabs li .nav-link {
  font-size: 0.8rem;
}
.side-popup .tab-pane .nav-tabs li .nav-link img {
  width: 20px;
}
.side-popup .tab-pane .nav-tabs li .nav-link .img-bg-red {
  background-color: #ea6666;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-popup .tab-pane .nav-tabs li .nav-link .img-bg-red img {
  width: 15px;
}

@media (max-width: 767.5px) {
  .side-popup .nav-tabs {
    border-bottom: 1px solid #fff;
  }
  .side-popup .nav-tabs li {
    flex: none;
  }
  .side-popup .nav-tabs li .nav-link img {
    transform: scale(0.8);
  }
  .side-popup .nav-tabs li .nav-link.active {
    color: #fff;
    background-color: #ea6666;
  }
  .side-popup .nav-tabs li .nav-link.active svg path,
.side-popup .nav-tabs li .nav-link.active svg text {
    fill: #fff;
  }
}
@media (max-width: 400px) {
  .side-popup .nav-tabs li .nav-link img {
    width: 30px;
  }
}
table.settings-table {
  border-top-width: 0;
  font-weight: 300;
  table-layout: auto;
  width: 100%;
}
table.settings-table thead {
  border-top-width: 0;
  font-weight: 600;
}
table.settings-table thead th {
  background-color: #ea6666;
  text-align: center;
  vertical-align: middle;
  border-top-width: 0;
  color: #ffffff;
  border-width: 0;
  padding: 1rem 0.25rem;
}
table.settings-table thead th:first-of-type {
  border-top-left-radius: 15px;
}
table.settings-table thead th:last-of-type {
  border-top-right-radius: 15px;
}
table.settings-table thead th .btn {
  display: flex;
  justify-content: center;
  max-width: 130px;
  margin: auto;
  font-size: 0.9rem;
}
table.settings-table tbody tr {
  cursor: pointer;
}
table.settings-table tr.disabled .edit-btn {
  visibility: hidden;
}
table.settings-table tr td {
  vertical-align: middle;
  text-align: center;
  border-width: 0;
  padding: 1rem 0.25rem;
}
table.settings-table tr td .icon {
  width: 18px;
}
table.settings-table .last-col {
  max-width: 80px;
}
table.settings-table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}
table.settings-table.table-striped tbody tr:nth-of-type(odd):hover {
  background-color: #e0e0e0;
}
table.settings-table.table-striped tbody tr:nth-of-type(even) {
  background-color: #eaeaea;
}
table.settings-table.table-striped tbody tr:nth-of-type(even):hover {
  background-color: #e0e0e0;
}
table.settings-table-2 thead th {
  padding: 1rem 0.75rem;
}
table.settings-table-2 thead th .search {
  max-width: 300px;
  margin: auto;
}
table.settings-table-2 thead th:first-of-type {
  width: 50px;
}
table.settings-table-2 tr td {
  padding: 1rem 0.75rem;
}
table.settings-table-2 tr td:nth-of-type(2),
table.settings-table-2 tr th:nth-of-type(2) {
  text-align: left;
}

.table-alternative .card {
  cursor: pointer;
  font-size: 1rem;
  background-color: #f2f2f2;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.25s ease;
}
.table-alternative .card p {
  font-weight: 300;
}
.table-alternative .card svg {
  transform: scale(0.7);
}
.table-alternative .card svg path {
  transition: all 0.25s ease;
}
.table-alternative .card:hover, .table-alternative .card.active {
  background-color: #ea6666;
  color: #ffffff;
}
.table-alternative .card:hover svg path, .table-alternative .card.active svg path {
  fill: #fff;
}
.table-alternative .card:hover .custom-switch .custom-control-input:checked ~ .custom-control-label::before, .table-alternative .card.active .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #48a3da;
}
.table-alternative .card:hover .custom-switch .custom-control-input:checked ~ .custom-control-label::after, .table-alternative .card.active .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
}
.table-alternative .card:hover .custom-switch .custom-control-label::before, .table-alternative .card.active .custom-switch .custom-control-label::before {
  background-color: #fff;
}
.table-alternative .card:hover .custom-switch .custom-control-label::after, .table-alternative .card.active .custom-switch .custom-control-label::after {
  background-color: #e8e8e8;
}
.table-alternative .card.disabled .edit-btn {
  visibility: hidden;
}

.edit-btn {
  margin-left: 1rem;
}

.table-appointments {
  border: 1px solid #fff;
  color: #fff;
}
.table-appointments tbody tr {
  cursor: pointer;
}
.table-appointments tbody tr td {
  border: 1px solid #fff;
}
.table-appointments tbody tr td:first-of-type {
  width: 50px;
  text-align: center;
}
.table-appointments tbody tr.status-green td {
  background-color: #5fbe7d;
}
.table-appointments tbody tr.status-green td:first-of-type {
  background-color: #56a659;
}
.table-appointments tbody tr.status-orange td {
  background-color: #ff8c00;
}
.table-appointments tbody tr.status-orange td:first-of-type {
  background-color: #fb6f25;
}
.table-appointments tbody tr.status-brown td {
  background-color: #795548;
}
.table-appointments tbody tr.status-brown td:first-of-type {
  background-color: #795548;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.modal .modal-content {
  border-width: 0;
  border-radius: 5px;
}
.modal .close {
  position: absolute;
  background-color: #ea6666;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  opacity: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .close img {
  width: 15px;
}
.modal .close:not(:disabled):not(.disabled):focus, .modal .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
  background-color: #c54e4e;
  outline: none;
}
.modal .img-success,
.modal .img-error {
  width: 60px;
  margin: auto;
}
.modal .modal-note {
  font-size: 0.8rem;
  font-weight: 300;
  max-width: 300px;
  margin: auto;
}
.modal .modal-info {
  margin: auto;
  min-width: 352px;
}

.modal-dialog {
  margin: 1.5rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
@media (max-width: 576px) {
  .modal-dialog h4 {
    font-size: 1rem;
  }
}
.side-popup {
  background-color: #48a3da;
  color: #fff;
  position: absolute;
  width: 350px;
  right: -500px;
  transition: right 0.2s ease, position 0s ease, opacity 0.1s ease;
  flex-shrink: 0;
  top: 60px;
  height: 100%;
  overflow-y: auto;
  padding: 45px 0 20px;
  opacity: 0;
  font-size: 0.9rem;
  font-weight: 300;
}
.side-popup .close-popup {
  position: absolute;
  top: 20px;
  right: 5px;
}
.side-popup .close-popup img {
  width: 25px;
}
.side-popup .close-popup.close-right {
  right: auto;
  left: 5px;
}
.side-popup.show {
  opacity: 1;
  position: relative;
  top: -1px;
  right: 0;
}
.side-popup.form-menu-lg {
  width: 450px;
}

@media (max-width: 1440px) {
  .side-popup {
    z-index: 1000;
    background-color: rgba(72, 163, 218, 0.95);
  }
  .side-popup.show {
    position: fixed;
    top: 60px;
    height: calc(100% - 61px);
  }
}
@media (max-width: 575.5px) {
  .side-popup:not(.profile-menu) {
    background-color: rgba(106, 164, 198, 0.98);
    opacity: 0;
    width: 100%;
    right: 0;
    transform: scale(0);
    padding: 45px 0 20px;
    height: 100%;
    top: 0;
    transition: visibility 0s linear 0.05s, opacity 0.1s ease, transform 0.2s ease;
  }
  .side-popup:not(.profile-menu).show {
    position: fixed;
    top: 0;
    height: 100%;
    opacity: 1;
    transform: none;
  }
}
.profile-menu {
  padding: 10px 0 20px;
}
.profile-menu h2 {
  font-size: 2rem;
}
.profile-menu .profile-nav {
  width: 100%;
}
.profile-menu .profile-nav li {
  width: 100%;
}
.profile-menu .profile-nav li a {
  width: 100%;
  padding: 8px 15px;
  transition: all 0.25s ease;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  display: inline-block;
}
.profile-menu .profile-nav li a:hover {
  color: #ffffff;
  background-color: #ea6666;
}
.profile-menu .profile-nav li a img {
  width: 20px;
}
.profile-menu .profile-nav li:last-of-type a {
  border-bottom-width: 0;
}
.profile-menu .form-group {
  white-space: nowrap;
}
.profile-menu .form-group label {
  font-size: 0.9rem;
}
.profile-menu .form-group select {
  font-size: 0.9rem;
}

@media (max-width: 575.5px) {
  .profile-menu {
    background-color: rgba(106, 164, 198, 0.98);
  }
  .profile-menu .profile-nav {
    font-size: 1rem;
  }
  .profile-menu .profile-nav t li a {
    padding: 15px 15px;
  }
  .profile-menu .profile-nav t li a img {
    width: 22px;
  }
  .profile-menu.show {
    width: 100%;
  }
}
.chats-menu .chats-nav {
  width: 100%;
}
.chats-menu .chats-nav li {
  width: 100%;
}
.chats-menu .chats-nav li a {
  width: 100%;
  transition: all 0.25s ease;
  color: #ffffff;
  display: inline-block;
}
.chats-menu .chats-nav li a .content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.34);
  position: relative;
  padding: 10px 0;
}
.chats-menu .chats-nav li a .content .date {
  font-size: 0.8rem;
}
.chats-menu .chats-nav li a .content .status {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #3981ad;
  border-radius: 3px;
  color: #ffffff;
  min-width: 80px;
  padding: 3px;
  font-size: 0.8rem;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  transition: all 0.25s ease;
}
.chats-menu .chats-nav li a .content .notification {
  font-size: 0.8rem;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.25s ease;
}
.chats-menu .chats-nav li a:hover {
  color: #ffffff;
  background-color: #ea6666;
}
.chats-menu .chats-nav li a:hover .content .status {
  background-color: #ffffff;
  color: #000000;
}
.chats-menu .chats-nav li a:hover .content .notification {
  color: #000000;
  background-color: #ffffff;
}
.chats-menu .chats-nav li:last-of-type a .content {
  border-bottom-width: 0;
}
.chats-menu .form-group {
  white-space: nowrap;
}

@media (max-width: 575.5px) {
  .side-popup.chats-menu {
    background-color: rgba(72, 163, 218, 0.95);
  }
}
.side-popup.form-menu {
  font-size: 1.1rem;
}
.side-popup.form-menu label {
  color: #ffffff;
}
.side-popup.form-menu.form-white {
  background-color: #f9f9f9 !important;
  color: #000000;
}
.side-popup.form-menu.form-white h2 {
  font-weight: 600;
}
.side-popup.form-menu.form-white label {
  color: #000000 !important;
}
.side-popup.form-menu.form-white .input-gray {
  background-color: #e9e9e9;
}

@media (max-width: 575.5px) {
  .side-popup.form-menu {
    font-size: 1.2rem;
  }
}
.selectbox-mobile {
  background-color: #e8e8e8 !important;
}

.visits-grid {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.visits-grid .main-content-inner {
  flex: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.visits-grid .main-content-inner .visits-side {
  width: 230px;
  flex-shrink: 0;
  background-color: #e8e8e8;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
.visits-grid .main-content-inner .visits-side .top-fixed {
  background-color: #f2f2f2;
}
.visits-grid .main-content-inner .visits-side .top-fixed h4,
.visits-grid .main-content-inner .visits-side .top-fixed h5 {
  font-weight: 600;
}
.visits-grid .main-content-inner .visits-side .side-content {
  flex: 1;
  overflow-y: auto;
  background-color: #e8e8e8;
}
.visits-grid .main-content-inner .visits-wrapper {
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.visits-grid .main-content-inner .visits-wrapper .visits-content {
  flex: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.visits-grid .main-content-inner .visits-wrapper .visits-content .tab-content {
  flex: 1;
  height: 100%;
}
.visits-grid .main-content-inner .visits-wrapper .visits-content .tab-content > .active {
  display: flex;
}
.visits-grid .main-content-inner .visits-wrapper .visits-content .tab-content .tab-pane {
  overflow: hidden;
  flex-direction: column;
  height: 100%;
}
.visits-grid .main-content-inner .visits-wrapper .visits-content .tab-content .tab-pane .visits-content-scrollable {
  overflow-y: auto;
  flex: 1;
}
.visits-grid .main-content-inner .visits-wrapper .visits-content .tab-content .tab-pane .visits-content-scrollable::after {
  content: "";
  display: block;
  width: 100%;
  height: 3rem;
}

#app-container main.main-content.visits-grid::after {
  display: none;
}

.visit-item {
  display: block;
  width: 100%;
  color: #000000;
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.visit-item svg {
  flex-shrink: 0;
  margin: 0 10px;
  width: 20px;
}
.visit-item svg path {
  transition: all 0.1s ease;
}
.visit-item .current-tag {
  font-size: 0.6rem;
  background-color: #ea6666;
  border-radius: 3px;
  color: #ffffff;
  padding: 2px 7px;
  margin: 0 7px;
}
.visit-item img {
  width: 15px;
  margin-right: 5px;
}

.visits-collapse {
  font-size: 0.9rem;
}
.visits-collapse .collapse-card {
  border-bottom: 1px solid #d3d3d3;
}
.visits-collapse .collapse-card .collapse-card-header {
  color: #000;
  background-color: transparent;
}
.visits-collapse .collapse-card .collapse-card-header .collapse-indicator {
  width: 20px;
  height: 20px;
  background-color: #48a3da;
  border-radius: 2px;
  font-size: 1.3rem;
}
.visits-collapse .collapse-card.open .collapse-card-header {
  background-color: transparent;
}
.visits-collapse .collapse-card.open .collapse-card-header .collapse-indicator {
  background-color: #ea6666;
}
.visits-collapse .collapse-card.open .collapse-card-header .collapse-indicator::after {
  content: "-";
}
.visits-collapse .collapse-card:last-of-type {
  border-bottom: 0;
}
.visits-collapse .collapse-card .collapse-row:hover {
  background: transparent;
}
.visits-collapse .collapse-card .collapse-row.sub-collapse a {
  padding-left: 50px;
}
.visits-collapse .collapse-card .collapse-indicator-carret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ea6666;
  transition: all 0.25s ease;
  margin: 0 5px;
}
.visits-collapse .collapse-card .sub-collapse-card.open .collapse-indicator-carret {
  transform: rotate(180deg);
}

.side-content .visit-item:hover, .side-content .visit-item.active {
  background-color: #48a3da;
  color: #ffffff;
}
.side-content .visit-item:hover svg path, .side-content .visit-item.active svg path {
  fill: #fff;
}

.visits-main-nav .form-group .dropdown-item.active, .visits-main-nav .form-group .dropdown-item:active {
  background-color: #fff;
}
.visits-main-nav .form-group .visit-item {
  font-size: 0.9rem;
  padding: 0;
}
.visits-main-nav .form-group .visit-item svg {
  margin: 0;
  width: 30px;
  transform: scale(0.6);
  transform-origin: 0%;
}
.visits-main-nav .form-group .visit-item .current-tag {
  font-size: 0.5rem;
  padding: 1px 5px;
  margin: 0 3px;
}

@media (min-width: 1200px) {
  .visits-main-nav {
    min-width: 950px;
  }
}
@media (max-width: 1024px) {
  .visits-grid .main-content-inner .visits-side {
    width: 245px;
  }

  .visit-item a {
    padding: 0.75rem 0.5rem 0.75rem 0.75rem;
  }
  .visit-item a svg {
    margin: 0 8px;
  }
  .visit-item a .current-tag {
    margin: 0 6px;
  }
}
.btn.rounded-circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0;
}
.btn.rounded-circle img {
  width: 13px;
}

@media (max-width: 400px) {
  .btn.rounded-circle {
    width: 30px;
    height: 30px;
  }

  .form-group .visit-item {
    font-size: 0.8rem;
  }
}
.visits-main-nav {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.visits-wrapper .nav-tabs {
  flex-wrap: nowrap;
}
.visits-wrapper .nav-tabs li {
  margin-bottom: 0;
  border-right: 1px solid #e3e3e3;
}
.visits-wrapper .nav-tabs li .nav-link {
  padding: 0.4rem 2rem;
  transition: all 0.2s ease;
  width: 100%;
}
.visits-wrapper .nav-tabs li .nav-link svg {
  width: 38px;
  height: auto;
}
.visits-wrapper .nav-tabs li .nav-link.active {
  background-color: #48a3da;
}
.visits-wrapper .nav-tabs li .nav-link.active svg path {
  fill: #fff;
}
.visits-wrapper .nav-tabs li:last-of-type {
  border-right-width: 0;
}

@media (max-width: 1250px) {
  .visits-main-nav .nav-tabs li .nav-link {
    padding: 0.4rem 1.3rem;
  }
  .visits-main-nav .nav-tabs li .nav-link svg {
    width: 33px;
  }
  .visits-main-nav .stretched-link.rounded-circle {
    width: 30px;
    height: 30px;
  }
  .visits-main-nav .stretched-link.rounded-circle + span {
    font-size: 0.9rem;
  }
}
@media (max-width: 991.5px) {
  .visits-main-nav .nav-tabs li .nav-link {
    padding: 0.4rem 0.9rem;
  }
  .visits-main-nav .nav-tabs li .nav-link svg {
    width: 25px;
  }
}
@media (max-width: 830px) {
  .visits-main-nav .stretched-link.rounded-circle {
    width: 18px;
    height: 18px;
  }
  .visits-main-nav .stretched-link.rounded-circle img {
    width: 10px;
  }
  .visits-main-nav .stretched-link.rounded-circle + span {
    font-size: 0.6rem;
  }
}
@media (max-width: 767.5px) {
  .visits-grid .nav-tabs {
    flex: 1;
    border-bottom-width: 0;
  }
  .visits-grid .nav-tabs#visits-tabs {
    min-width: 500px;
  }
  .visits-grid .nav-tabs li {
    flex: 1;
  }
  .visits-grid .nav-tabs li .nav-link {
    font-size: 0.9rem;
    padding: 0.6rem 0.5rem;
  }
  .visits-grid .nav-tabs li:last-of-type {
    border-right-width: 0;
  }

  .visits-main-nav .nav-tabs {
    border-top: 1px solid #e3e3e3;
  }
  .visits-main-nav .nav-tabs li .nav-link {
    padding: 0;
  }
  .visits-main-nav .nav-tabs li .nav-link svg {
    width: 55%;
  }
}
@media (max-width: 500px) {
  .visits-grid .nav-tabs#visits-tabs {
    min-width: 145%;
  }
}
@media (max-width: 400px) {
  .visits-grid .nav-tabs li .nav-link {
    font-size: 0.8rem;
  }
}
.visits-content-fixed {
  display: flex;
  align-items: center;
  justify-content: stretch;
  border-bottom: 1px solid #e3e3e3;
}
.visits-content-fixed .tab-heading {
  font-weight: 600;
  font-size: 1.1rem;
}
.visits-content-fixed .nav-tabs li .nav-link {
  white-space: nowrap;
  padding: 0.4rem 1rem;
}
.visits-content-fixed .nav-tabs li .nav-link svg {
  width: 20px;
}
.visits-content-fixed .nav-tabs li .nav-link.active, .visits-content-fixed .nav-tabs li .nav-link:hover {
  background-color: #ea6666;
  color: #fff;
}
.visits-content-fixed .nav-tabs li .nav-link.active svg path, .visits-content-fixed .nav-tabs li .nav-link:hover svg path {
  fill: #fff;
}

.visits-content-scrollable .drug-list {
  overflow: hidden;
  margin-bottom: -2px;
}
.visits-content-scrollable .drug-list .drug-item {
  transition: all 0.25s ease;
  border-bottom: 1px solid #c6c6c6;
}
.visits-content-scrollable .drug-list .drug-item a svg {
  width: 15px;
}
.visits-content-scrollable .drug-list .drug-item:hover {
  background-color: #ea6666;
  color: #ffffff;
}
.visits-content-scrollable .drug-list .drug-item:hover svg path,
.visits-content-scrollable .drug-list .drug-item:hover svg ellipse {
  fill: #fff;
}
.visits-content-scrollable .drug-list svg {
  margin: 0 5px;
}
.visits-content-scrollable .audio-item a svg {
  width: 15px;
}
.visits-content-scrollable .audio-item audio:focus {
  outline: none;
}

@media (max-width: 400px) {
  .visits-content-fixed .info-sm {
    font-size: 0.8rem;
  }
  .visits-content-fixed .nav-tabs {
    min-width: 150px;
  }
  .visits-content-fixed .nav-tabs li .nav-link {
    padding: 0.4rem 0.2rem;
    font-size: 0.6rem;
  }
  .visits-content-fixed .nav-tabs li .nav-link svg {
    width: 18px;
  }
}
.voice-timer {
  font-size: 2.5rem;
}

.img-grid {
  max-width: 1200px;
}
.img-grid .img-wrapper {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #e1e1e1;
  background-position: center;
  background-size: cover;
}
.img-grid a svg {
  width: 15px;
}
.img-grid p {
  display: flex;
  align-items: center;
}

[data-id=current-clinic-top] + .dropdown-menu {
  display: none;
}

.collapse-card {
  font-weight: 300;
}
.collapse-card .collapse-card-header {
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  background-color: #48a3da;
  transition: all 0.25s ease;
}
.collapse-card .collapse-card-header .collapse-indicator {
  width: 25px;
  height: 25px;
  background-color: #ea6666;
  flex-shrink: 0;
  position: relative;
  color: #ffffff;
  border-radius: 3px;
  font-size: 1.6rem;
}
.collapse-card .collapse-card-header .collapse-indicator::after {
  transition: all 0.25s ease;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "+";
  display: flex;
  justify-content: center;
  align-items: center;
}
.collapse-card .collapse-card-btns a {
  font-size: 0.7rem;
}
.collapse-card .collapse-card-btns a img {
  width: 18px;
}
.collapse-card .collapse-card-btns a.btn-lg {
  font-size: 0.9rem;
}
.collapse-card.open .collapse-card-header {
  background-color: #ea6666;
}
.collapse-card.open .collapse-card-header .collapse-indicator {
  background-color: #48a3da;
}
.collapse-card.open .collapse-card-header .collapse-indicator::after {
  content: "-";
}
.collapse-card.open .collapse-card-header .collapse-card-btns .btn-red {
  color: #ffffff;
  background-color: #48a3da;
}
.collapse-card.open .collapse-card-header .collapse-card-btns .btn-red:hover, .collapse-card.open .collapse-card-header .collapse-card-btns .btn-red:not(:disabled):not(.disabled):active, .collapse-card.open .collapse-card-header .collapse-card-btns .btn-red:focus, .collapse-card.open .collapse-card-header .collapse-card-btns .btn-red:not(:disabled):not(.disabled):active:focus {
  background-color: #3b91c7;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #ffffff;
}
.collapse-card .collapse-row.bg-gray-dark {
  background-color: #e2e2e2;
}
.collapse-card .collapse-row.bg-gray-light {
  background-color: #f5f5f5;
}
.collapse-card .collapse-row .collapse-indicator {
  width: 20px;
  height: 20px;
  background-color: #48a3da;
  flex-shrink: 0;
  position: relative;
  color: #ffffff;
  border-radius: 3px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}
.collapse-card .collapse-row .collapse-indicator img {
  width: 10px;
}
.collapse-card .collapse-row .collapse-indicator.collapse-indicator-clock {
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform: rotate(0deg);
}
.collapse-card .collapse-row .collapse-indicator.collapse-indicator-clock img {
  width: 15px;
}
.collapse-card .collapse-row:hover {
  background-color: #d6d6d6;
}

@media (max-width: 575.5px) {
  .collapse-card {
    font-size: 0.8rem;
  }
  .collapse-card .collapse-card-header .collapse-indicator {
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
  }
  .collapse-card .collapse-card-header .btn-red {
    background-color: transparent;
  }
  .collapse-card .collapse-card-header .btn-red:hover, .collapse-card .collapse-card-header .btn-red:not(:disabled):not(.disabled):active, .collapse-card .collapse-card-header .btn-red:focus, .collapse-card .collapse-card-header .btn-red:not(:disabled):not(.disabled):active:focus {
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
  }
  .collapse-card .collapse-card-btns a img {
    width: 15px;
  }
  .collapse-card .collapse-card-btns a.btn-lg {
    font-size: 0.7rem;
  }
  .collapse-card .collapse-row .collapse-indicator {
    width: 18px;
    height: 18px;
    font-size: 1.2rem;
  }
  .collapse-card .collapse-row .collapse-indicator.collapse-indicator-clock {
    width: 15px;
    height: 15px;
  }
  .collapse-card .collapse-row .collapse-indicator.collapse-indicator-clock img {
    width: 12px;
  }
  .collapse-card.open .collapse-card-header .collapse-card-btns .btn-red {
    background-color: transparent;
  }
  .collapse-card.open .collapse-card-header .collapse-card-btns .btn-red:hover, .collapse-card.open .collapse-card-header .collapse-card-btns .btn-red:not(:disabled):not(.disabled):active, .collapse-card.open .collapse-card-header .collapse-card-btns .btn-red:focus, .collapse-card.open .collapse-card-header .collapse-card-btns .btn-red:not(:disabled):not(.disabled):active:focus {
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
  }
}
@media (max-width: 375px) {
  .collapse-card {
    font-size: 0.7rem;
  }
  .collapse-card .collapse-card-header .collapse-indicator {
    width: 15px;
    height: 15px;
    font-size: 1rem;
  }
  .collapse-card .collapse-card-btns a {
    font-size: 0.6rem;
  }
  .collapse-card .collapse-card-btns a img {
    width: 15px;
  }
  .collapse-card .collapse-row .collapse-indicator {
    width: 12px;
    height: 12px;
    font-size: 1rem;
  }
  .collapse-card .collapse-row .collapse-indicator img {
    width: 8px;
  }
}
.nav-appointment .btn-blue {
  min-width: 90px;
}
.nav-appointment .btn-blue.active {
  color: #ffffff;
  background-color: #ea6666;
}
.nav-appointment .btn-blue.active:hover, .nav-appointment .btn-blue.active:not(:disabled):not(.disabled):active, .nav-appointment .btn-blue.active:focus, .nav-appointment .btn-blue.active:not(:disabled):not(.disabled):active:focus {
  background-color: #c54e4e;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #ffffff;
}

.btns-navigation img {
  width: 10px;
}

@media (max-width: 991.5px) {
  #app-container.appointment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  #app-container.appointment-wrapper main.main-content {
    flex: 1;
  }

  .nav-appointment {
    height: 70px;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }
  .nav-appointment li {
    flex: 1;
  }
  .nav-appointment li a {
    width: 100%;
  }
  .nav-appointment li a.btn-blue {
    min-width: 0;
  }
}
.appointments-week-swiper .swiper-container {
  padding-bottom: 30px;
}
.appointments-week-swiper .swiper-container .swiper-wrapper {
  align-items: stretch;
}
.appointments-week-swiper .swiper-container .swiper-slide {
  min-width: 300px;
  flex: 1;
  height: auto;
  border: 1px solid #dee2e6;
  border-right-width: 0;
}
.appointments-week-swiper .swiper-container .swiper-slide .slide-heading {
  text-align: center;
  padding: 5px 10px;
  background-color: #48a3da;
  color: #ffffff;
}
.appointments-week-swiper .swiper-container .swiper-slide .slide-content {
  padding: 0 10px;
}
.appointments-week-swiper .swiper-container .swiper-slide:last-of-type {
  border-right-width: 1px;
}

#app-container.full-height {
  padding-top: 0;
}

main.main-content.login {
  background-image: linear-gradient(to bottom, rgba(72, 163, 218, 0.88), rgba(72, 163, 218, 0.88)), url("../imgs/jpg/login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main.main-content.login .container {
  margin: auto;
}
main.main-content.login .logo {
  width: 250px;
}
main.main-content.login .login-card {
  margin-top: 25px;
  background-color: #fff;
  border-radius: 45px;
  max-width: 650px;
  padding: 50px 80px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
  border: 0;
}
main.main-content.login .login-card .login-links a {
  color: #3a84af;
  transition: all 0.25s ease;
}
main.main-content.login .login-card .login-links a:hover {
  color: #255975;
}

@media (max-width: 576px) {
  main.main-content.login .logo {
    width: 230px;
  }
  main.main-content.login .login-card {
    padding: 30px 40px;
    border-radius: 20px;
  }
  main.main-content.login .login-card .login-links a {
    font-size: 0.9rem;
  }
}
@media (max-width: 450px) {
  main.main-content.login .login-card {
    padding: 30px 30px;
  }
  main.main-content.login .login-card .login-links a {
    font-size: 0.9rem;
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  main.main-content.login .login-card .login-links a:last-of-type {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
