.home-info-cards {
    .container {
        .swiper-container {
            .swiper-slide {
                &:first-of-type {
                    padding-left: 8px;
                    padding-right: 0;
                }
                &:last-of-type {
                    padding-right: 8px;
                    padding-left: 0;
                }
            }
        }
    }
}

@media (max-width: 991.5px) {
    .home-info-cards {
        .container {
            .swiper-container {
                .swiper-slide {
                    &:last-of-type {
                        padding-right: 0;
                        .card {
                            margin-right: 0 !important;
                            margin-left: 0 !important;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .home-info-cards {
        .container {
            .swiper-container {
                .swiper-slide {
                    &:first-of-type {
                        padding-right: 15px;
                        padding-left: 8px;
                    }
                    &:last-of-type {
                        padding-left: 15px;
                        padding-right: 8px;
                    }
                }
            }
        }
    }
}
@media (max-width: 575.5px) {
    .branches-grid.max-700 {
        .card {
            border-left: 1px solid #e3e3e3;
            border-right-width: 0;
            &:last-of-type {
                border-left-width: 0;
            }
        }
    }
}
