.home-info-cards {
    .container {
        .swiper-container {
            .swiper-slide {
                &:first-of-type {
                    padding-left: 8px;
                    padding-right: 0;
                }
                &:last-of-type {
                    padding-right: 8px;
                    padding-left: 0;
                }
                .card {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (max-width: 991.5px) {
    .home-info-cards {
        .container {
            max-width: 100%;
            padding-right: 15px !important;
            .swiper-container {
                .swiper-slide {
                    width: auto;
                    padding: 0 8px;
                    &:last-of-type {
                        padding-right: 8px;
                    }
                }
            }
        }
    }
}
