.custom-select {
    background: #fff url("../imgs/svg/select-arrow.svg") no-repeat left 0.5rem
        center/13px 10px;
    padding: 0.375rem 0.75rem 0.375rem 1.75rem;
}

.input-with-img {
    .input-group-prepend {
        left: auto;
        right: 0;
    }
    .form-control {
        padding-left: 0.75rem;
        padding-right: 33px;
    }
    &.img-other-side {
        .input-group-prepend {
            left: 0;
            right: auto;
        }
        .form-control {
            padding-right: 0.75rem;
            padding-left: 33px;
        }
    }
}

.form-control {
    &.date-input,
    &.time-input {
        text-align: left;
    }
}

.custom-radio {
    padding-left: 0;
    padding-right: 1.5rem;
    label {
        &::before,
        &::after {
            left: auto;
            right: -1.5rem;
        }
    }
}

.custom-switch {
    &.custom-switch-bar,
    &.custom-switch-box {
        padding-left: 0;
        padding-right: 2rem;
    }
    &.custom-switch-bar {
        .custom-control-label {
            &::before {
                right: -2.25rem;
            }
            &::after {
                right: calc(-2.25rem + 25px);
            }
        }
    }
    &.custom-switch-box {
        .custom-control-label {
            &::before {
                right: -1.75rem;
            }
            &::after {
                right: -1.75rem;
            }
        }
    }
}
