table.settings-table {
    thead {
        th {
            &:first-of-type {
                border-top-left-radius: 0;
                border-top-right-radius: 15px;
            }
            &:last-of-type {
                border-top-right-radius: 0;
                border-top-left-radius: 15px;
            }
        }
    }
}

.edit-btn {
    margin-right: 1rem;
    margin-left: 0;
}
