.top-bar {
    .breadcrumb {
        .breadcrumb-item {
            &::after {
                transform: rotate(0deg);
            }
        }
        .breadcrumb-item + .breadcrumb-item {
            padding-right: 0;
        }
    }
    .back-link {
        transform: rotate(0deg);
    }
}
