label {
    margin-bottom: 0;
    font-weight: 500;
    color: $textDark;
}

.form-theme-1 {
    .form-control {
        color: $textDark;
        background-color: #e9e9e9;
        border-width: 0;
        border-radius: 5px;
        &:focus {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        &::-webkit-input-placeholder {
            color: #555555;
        }
        &::-ms-input-placeholder {
            color: #555555;
        }
        &::placeholder {
            color: #555555;
        }
    }
    textarea {
        resize: none;
    }
    .custom-select {
        background: #e9e9e9 url("../imgs/svg/select-arrow.svg") no-repeat right
            0.75rem center/13px 10px;
        &:focus {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        border-width: 0;
    }
    input[type="time"] {
        padding: 0.75rem;
    }
    .input-with-img {
        position: relative;
        .input-group-prepend {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            height: 100%;

            .input-group-text {
                height: 100%;
                width: 35px;
                padding: 5px 10px 5px 10px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: transparent;
                border-width: 0;
                img {
                    flex-shrink: 0;
                    width: 17px;
                }
            }
        }
        .form-control {
            background-color: #fff;
            padding-left: 36px;
            border-radius: 5px;
        }
    }
}

.input-with-img {
    position: relative;
    .input-group-prepend {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        height: 100%;

        .input-group-text {
            height: 100%;
            width: 35px;
            padding: 5px 8px 5px 8px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: transparent;
            border-width: 0;
            img {
                flex-shrink: 0;
                width: 17px;
            }
        }
    }
    .form-control {
        background-color: #fff;
        padding-left: 36px;
        border-radius: 5px;
    }
}

.custom-switch {
    transform: scale(0.8);
    .custom-control-input:checked ~ .custom-control-label {
        &::before {
            color: #fff;
            border-width: 0;
            background-color: $blue;
        }
        &::after {
            background-color: $red;
            -webkit-transform: translateX(0.75rem);
            transform: translateX(1.75rem);
        }
    }
    .custom-control-label {
        cursor: pointer;
        &::before {
            left: -2.25rem;
            width: 2.5rem;
            pointer-events: all;
            border-radius: 0.5rem;
            position: absolute;
            top: 0.5rem;
            display: block;
            height: 0.75rem;
            background-color: #cfcfcf;
            border-width: 0;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
        }
        &::after {
            background-color: #b5b5b5;
            top: calc(0.25rem + 1px);
            left: calc(-2.25rem - 4px);
            width: calc(1rem + 2px);
            height: calc(1rem + 2px);
        }
    }
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e); */
    background: #b7b7b7;
    border-radius: 50%;
    transform: scale(0.6);
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #b7b7b7;
    background-color: #fff !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.form-sm {
    max-width: 290px;
    margin: auto;
}

.gj-icon {
    display: none;
}
.gj-picker-md [role="header"] {
    background-color: $red;
}
.gj-picker-md [role="footer"] button.gj-button-md {
    color: $red;
}
.gj-picker-md .arrow-begin,
.gj-picker-md [role="body"] [role="arrow"] {
    background-color: $red;
}
.gj-picker-md .arrow-end {
    border: 16px solid $red;
}
.gj-picker.timepicker [role="header"] {
    direction: ltr;
}
