@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
//opensans 400, 600

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $defaultFont;
    font-weight: $semibold;
    text-align: left;
    background-color: #fff;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.flex-1 {
    flex: 1;
}
#app-container {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-top: $offsetTop;
    // height: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    .side-menu {
        flex-shrink: 0;
        position: relative;
        top: -1px;
        bottom: 0;
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    main.main-content {
        overflow-y: auto;

        width: 100%;
        height: 100%;
        &.home {
            display: flex;
            flex-direction: column;
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3rem;
        }
    }
    &.full-height {
        padding-top: 0;
    }
}

@media (max-width: 390px) {
    #app-container {
        padding-top: 46px;
    }
}

.container-fluid-max-width {
    max-width: 1400px;
    margin-left: 0;
}

.max-500 {
    max-width: 500px !important;
}

.max-700 {
    max-width: 700px !important;
}

.card {
    border-width: 0;
    border-color: transparent;
    box-shadow: $defaultShadow;
    border-radius: 5px;
    background-color: transparent;
}

.bg-blue {
    background-color: $blue;
}

.bg-red {
    background-color: $red;
}

.bg-green {
    background-color: #5ecdc2;
}

.bg-yellow {
    background-color: #f6ba62;
}

.bg-darkblue {
    background-color: #2778a7;
}

.bg-lightblue {
    background-color: #6cbaea;
}

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: $gray;
}

.bg-gray2 {
    background-color: #eaeaea;
}

.text-light {
    color: $textLight !important;
}

.text-dark {
    color: $textDark !important;
}

.text-blue {
    color: $blue !important;
}

a {
    &:hover {
        text-decoration: none;
    }
}

a,
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

p {
    margin-bottom: 0;
}

.btn {
    border-radius: 0.25rem;
    border-width: 0;
    font-weight: $semibold;
    img {
        width: 15px;
        margin-right: 5px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    vertical-align: middle;
    &:focus {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}

@media (max-width: 400px) {
    .btn {
        &.btn-sm-small {
            font-size: 0.7rem;
            img {
                width: 10px;
            }
        }
    }
}
.icon {
    max-width: 35px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.icon-sm {
    max-width: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn-red {
    color: $textLight;
    background-color: $red;
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
        background-color: #c54e4e;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        color: $textLight;
    }
}

.btn-blue {
    color: $textLight;
    background-color: $blue;
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
        background-color: #3b91c7;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        color: $textLight;
    }
}

.btn-border-gray {
    color: $textDark;
    background-color: $textLight;
    font-size: 1.5rem;
    font-weight: $regular;
    border: 1px solid #dadada;
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
        background-color: #dadada;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        color: $textDark;
    }
}

.btn-hover-gray {
    color: $textDark;
    background-color: transparent;
    transition: $defaultTransition;
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
        background-color: #e3e3e3;
    }
}

.notification {
    background-color: $red;
    color: #fff;
    border-radius: 50%;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $semibold;
    width: 15px;
    height: 15px;
}

.floating-notification {
    position: absolute;
    top: -5px;
    right: -5px;
}

ul {
    list-style: none;
}

.prescription {
    .drug-img {
        width: 15px;
    }
    .border-bottom {
        border-bottom: 2px solid #dfdfdf !important;
    }
}

.reports-details {
    background-color: $blue;
    border-radius: 5px;
}

.download-link {
    color: #000;
    &:hover {
        color: #000;
        text-decoration: none;
    }
    img {
        width: 35px;
    }
}
