#app-container {
    &.full-height {
        padding-top: 0;
    }
}
main.main-content {
    &.login {
        background-image: linear-gradient(
                to bottom,
                rgba(72, 163, 218, 0.88),
                rgba(72, 163, 218, 0.88)
            ),
            url("../imgs/jpg/login-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .container {
            margin: auto;
        }
        .logo {
            width: 250px;
        }
        .login-card {
            margin-top: 25px;
            background-color: #fff;
            border-radius: 45px;
            max-width: 650px;
            padding: 50px 80px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.33);
            border: 0;
            .login-links {
                a {
                    color: #3a84af;
                    transition: $defaultTransition;
                    &:hover {
                        color: #255975;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    main.main-content {
        &.login {
            .logo {
                width: 230px;
            }
            .login-card {
                padding: 30px 40px;
                border-radius: 20px;
                .login-links {
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    main.main-content {
        &.login {
            .login-card {
                padding: 30px 30px;
                .login-links {
                    a {
                        font-size: 0.9rem;
                        margin-bottom: 10px;
                        display: block;
                        text-align: center;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
