.side-popup {
    background-color: $blue;
    color: #fff;
    position: absolute;
    width: 350px;
    right: -500px;
    transition: right 0.2s ease, position 0s ease, opacity 0.1s ease;
    flex-shrink: 0;
    top: $offsetTop - 1;
    height: 100%;
    overflow-y: auto;
    padding: 45px 0 20px;
    opacity: 0;
    font-size: 0.9rem;
    font-weight: $regular;
    .close-popup {
        img {
            width: 25px;
        }
        position: absolute;
        top: 20px;
        right: 5px;
        &.close-right {
            right: auto;
            left: 5px;
        }
    }
    &.show {
        opacity: 1;
        position: relative;
        top: -1px;
        right: 0;
    }
    &.form-menu-lg {
        width: 450px;
    }
}

@media (max-width: 1440px) {
    .side-popup {
        z-index: 1000;
        background-color: rgba(72, 163, 218, 0.95);
        &.show {
            position: fixed;
            top: $offsetTop - 1;
            height: calc(100% - #{$offsetTop});
        }
    }
}

@media (max-width: 575.5px) {
    .side-popup:not(.profile-menu) {
        background-color: rgba(106, 164, 198, 0.98);
        opacity: 0;
        width: 100%;
        right: 0;
        transform: scale(0);
        padding: 45px 0 20px;
        height: 100%;
        top: 0;
        transition: visibility 0s linear 0.05s, opacity 0.1s ease,
            transform 0.2s ease;
        &.show {
            position: fixed;
            top: 0;
            height: 100%;
            opacity: 1;
            transform: none;
        }
    }
}

.profile-menu {
    padding: 10px 0 20px;
    h2 {
        font-size: 2rem;
    }
    .profile-nav {
        width: 100%;
        li {
            width: 100%;
            a {
                width: 100%;
                padding: 8px 15px;
                transition: $defaultTransition;
                color: $textLight;
                border-bottom: 1px solid rgba(255, 255, 255, 0.14);
                display: inline-block;
                &:hover {
                    color: $textLight;
                    background-color: $red;
                }
                img {
                    width: 20px;
                }
            }
            &:last-of-type {
                a {
                    border-bottom-width: 0;
                }
            }
        }
    }
    .form-group {
        white-space: nowrap;
        label {
            font-size: 0.9rem;
        }
        select {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 575.5px) {
    .profile-menu {
        background-color: rgba(106, 164, 198, 0.98);
        .profile-nav {
            font-size: 1rem;
            t li {
                a {
                    padding: 15px 15px;

                    img {
                        width: 22px;
                    }
                }
            }
        }
        &.show {
            width: 100%;
        }
    }
}

.chats-menu {
    .chats-nav {
        width: 100%;
        li {
            width: 100%;
            a {
                width: 100%;
                transition: $defaultTransition;
                color: $textLight;
                display: inline-block;
                .content {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.34);
                    position: relative;
                    padding: 10px 0;
                    .date {
                        font-size: 0.8rem;
                    }
                    .status {
                        margin-left: 10px;
                        margin-right: 10px;
                        background-color: #3981ad;
                        border-radius: 3px;
                        color: $textLight;
                        min-width: 80px;
                        padding: 3px;
                        font-size: 0.8rem;
                        display: inline-block;
                        text-align: center;
                        font-weight: $regular;
                        transition: $defaultTransition;
                    }
                    .notification {
                        font-size: 0.8rem;
                        width: 22px;
                        height: 22px;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        transition: $defaultTransition;
                    }
                }
                &:hover {
                    color: $textLight;
                    background-color: $red;
                    .content {
                        .status {
                            background-color: $textLight;
                            color: $textDark;
                        }
                        .notification {
                            color: $textDark;
                            background-color: $textLight;
                        }
                    }
                }
            }
            &:last-of-type {
                a {
                    .content {
                        border-bottom-width: 0;
                    }
                }
            }
        }
    }
    .form-group {
        white-space: nowrap;
    }
}

@media (max-width: 575.5px) {
    .side-popup.chats-menu {
        background-color: rgba(72, 163, 218, 0.95);
    }
}

.side-popup.form-menu {
    font-size: 1.1rem;
    label {
        color: $textLight;
    }
    &.form-white {
        background-color: #f9f9f9 !important;
        color: $textDark;
        h2 {
            font-weight: $semibold;
        }
        label {
            color: $textDark !important;
        }
        .input-gray {
            background-color: #e9e9e9;
        }
    }
}
@media (max-width: 575.5px) {
    .side-popup.form-menu {
        font-size: 1.2rem;
    }
}

.selectbox-mobile {
    background-color: #e8e8e8 !important;
}
