.nav-tabs {
    display: flex;
    align-items: stretch;
    border-bottom-width: 0;
    li {
        .nav-link {
            font-weight: $semibold;
            font-size: 1rem;
            color: $textDark;
            background-color: #fff;
            border-width: 0;
            border-radius: 0;
            text-align: center;
            padding: 0.8rem 1rem;
            transition: all 0.2s ease;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                height: 45px;
            }
            &.active {
                color: $red;
            }
        }
        &:first-of-type {
            border-right: 1px solid #e3e3e3;
        }
    }
}

@media (max-width: 767.5px) {
    .nav-tabs {
        border-bottom: 2px solid #e3e3e3;
        li {
            flex: 1;
            .nav-link {
                svg {
                    transform: scale(0.8);
                }
                &.active {
                    color: #fff;
                    background-color: $red;
                    svg {
                        path,
                        text {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}
.tab-heading {
    font-weight: $semibold;
}

@media (max-width: 400px) {
    .tab-heading {
        font-size: 1.2rem;
    }
    // .tab-pane {
    //     .table-alternative {
    //         .card {
    //             font-size: 1rem;
    //         }
    //     }
    // }
}
