.nav-tabs {
    display: flex;
    align-items: stretch;
    border-bottom-width: 0;
    li {
        .nav-link {
            font-weight: $semibold;
            font-size: 1rem;
            color: $textDark;
            background-color: #fff;
            border-width: 0;
            border-radius: 0;
            text-align: center;
            padding: 0.8rem 1rem;
            transition: all 0.2s ease;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                height: 45px;
            }
            &.active {
                color: $red;
            }
        }
        &:first-of-type {
            border-right: 1px solid #e3e3e3;
        }
    }
}

@media (max-width: 767.5px) {
    .nav-tabs {
        border-bottom: 2px solid #e3e3e3;
        li {
            flex: 1;
            .nav-link {
                svg {
                    transform: scale(0.8);
                }
                &.active {
                    color: #fff;
                    background-color: $red;
                    svg {
                        path,
                        text {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}
.tab-heading {
    font-weight: $semibold;
}

@media (max-width: 400px) {
    .tab-heading {
        font-size: 1.2rem;
    }
    // .tab-pane {
    //     .table-alternative {
    //         .card {
    //             font-size: 1rem;
    //         }
    //     }
    // }
}

.visits-top-nav {
    .notification-btn {
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.35rem 0.6rem;
        flex-shrink: 0;
        img {
            width: 20px;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .nav-tabs {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            border-right: 1px solid #e3e3e3;
            // border-right-width: 0;
            .nav-link {
                padding: 0.7rem 1rem;

                white-space: nowrap;
                &.active {
                    background-color: $red;
                    color: $textLight;
                }
            }
        }
    }
}

.side-popup .nav-tabs {
    margin-top: 25px;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    li {
        margin-bottom: 0;
        border-right: 1px solid #e3e3e3;
        .nav-link {
            color: $textLight;
            padding: 0.5rem 0.5rem;
            background-color: transparent;
            img {
                width: 35px;
            }
            &.active {
                color: $textLight;
                background-color: $red;
            }
        }
    }
    &.justify-content-center {
        li {
            &:last-of-type {
                border-right-width: 0;
            }
        }
    }
}

.side-popup .tab-pane {
    .nav-tabs {
        margin-top: 0;
        border-top-width: 0;
        li {
            .nav-link {
                font-size: 0.8rem;
                img {
                    width: 20px;
                }
                .img-bg-red {
                    background-color: $red;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 767.5px) {
    .side-popup .nav-tabs {
        border-bottom: 1px solid #fff;
        li {
            flex: none;
            .nav-link {
                img {
                    transform: scale(0.8);
                }
                &.active {
                    color: #fff;
                    background-color: $red;
                    svg {
                        path,
                        text {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .side-popup {
        .nav-tabs {
            li {
                .nav-link {
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}
