table {
    &.settings-table {
        border-top-width: 0;
        font-weight: $regular;
        table-layout: auto;
        width: 100%;
        thead {
            background-color: $red;
            border-top-width: 0;
            font-weight: $semibold;

            th {
                text-align: center;
                vertical-align: middle;
                border-top-width: 0;
                color: $textLight;
                border-width: 0;
                padding: 1rem 0.25rem;

                &:first-of-type {
                    border-top-left-radius: 15px;
                }
                &:last-of-type {
                    border-top-right-radius: 15px;
                }
                .btn {
                    display: flex;
                    justify-content: center;
                    max-width: 130px;
                    margin: auto;
                    font-size: 0.9rem;
                }
            }
        }
        tbody {
            tr {
                cursor: pointer;
            }
        }
        tr {
            &.disabled {
                .edit-btn {
                    visibility: hidden;
                }
            }

            td {
                vertical-align: middle;
                text-align: center;
                border-width: 0;
                padding: 1rem 0.25rem;
                .icon {
                    width: 18px;
                }
            }
        }
        .last-col {
            max-width: 80px;
        }
        &.table-striped {
            tbody {
                tr:nth-of-type(odd) {
                    background-color: #fafafa;
                    &:hover {
                        background-color: #e0e0e0;
                    }
                }
                tr:nth-of-type(even) {
                    background-color: #eaeaea;
                    &:hover {
                        background-color: #e0e0e0;
                    }
                }
            }
        }
    }
    &.settings-table-2 {
        thead {
            th {
                text-align: left;
                padding: 1rem 0.75rem;
                .search {
                    max-width: 300px;
                    margin: auto;
                }
                &:first-of-type {
                    width: 100px;
                }
            }
        }
        tr {
            td {
                text-align: left;
                padding: 1rem 0.75rem;
            }
        }
        .last-col {
            max-width: 90px;
        }
    }
}

.table-alternative {
    .card {
        cursor: pointer;
        font-size: 1rem;
        background-color: #f2f2f2;
        box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0);
        transition: $defaultTransition;
        p {
            font-weight: $regular;
        }
        svg {
            transform: scale(0.7);
            path {
                transition: $defaultTransition;
            }
        }
        &:hover,
        &.active {
            background-color: $red;
            color: $textLight;

            svg {
                path {
                    fill: #fff;
                }
            }
            .custom-switch {
                .custom-control-input:checked ~ .custom-control-label {
                    &::before {
                        background-color: $blue;
                    }
                    &::after {
                        background-color: #fff;
                    }
                }
                .custom-control-label {
                    &::before {
                        background-color: #fff;
                    }
                    &::after {
                        background-color: #e8e8e8;
                    }
                }
            }
        }
        &.disabled {
            .edit-btn {
                visibility: hidden;
            }
        }
    }
}

.edit-btn {
    margin-left: 1rem;
}
