.top-bar {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    color: $textLight;
    z-index: 500;
    position: relative;
    .logo {
        position: relative;
        // margin-top: -6px;
    }
    .profile-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $textLight;
        font-size: 1.2rem;
        background-color: $red;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 0;
        font-size: 1.4rem;
        a {
            color: $textLight;
            font-weight: 700;
        }
        .breadcrumb-item.active {
            color: $textLight;
        }
        .breadcrumb-item + .breadcrumb-item::before {
            display: none;
        }
        .breadcrumb-item {
            // margin-top: 5px;

            &::after {
                display: inline-block;
                margin: 0 0.5rem;
                padding: 0;
                width: 10px;
                background-image: url("../imgs/svg/breadcrumb-arrow.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                transform: rotate(180deg);
                content: "";
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
            &:first-of-type {
                &::after {
                    display: block;
                }
            }
        }
        .breadcrumb-item + .breadcrumb-item {
            padding-left: 0;
            font-weight: 700;
        }
    }
    .back-link {
        transform: rotate(180deg);
        img {
            width: 20px;
        }
    }
}

@media (max-width: 767.5px) {
    .top-bar {
        .icon {
            max-width: 25px;
        }
        .breadcrumb {
            .breadcrumb-item {
                &::after {
                    display: none;
                }
                &:last-of-type {
                    &::after {
                        display: none;
                    }
                }
                &:first-of-type {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 319px) {
    .top-bar {
        .icon {
            max-width: 25px;
        }
        .breadcrumb {
            .breadcrumb-item {
                display: none;
            }
        }
    }
}
