.top-bar {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    color: $textLight;
    z-index: 500;
    position: fixed;
    .logo {
        position: relative;
        margin-top: -4px;
        width: 85px;
    }
    .profile-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $textLight;
        font-size: 1.2rem;
        background-color: $red;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 0;
        font-size: 1.2rem;
        a {
            color: $textLight;
            font-weight: $semibold;
        }
        .breadcrumb-item.active {
            color: $textLight;
        }
        .breadcrumb-item + .breadcrumb-item::before {
            display: none;
        }
        .breadcrumb-item {
            // margin-top: 5px;

            &::after {
                display: inline-block;
                margin: 0 0.5rem;
                padding: 0;
                width: 8px;
                background-image: url("../imgs/svg/breadcrumb-arrow.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                transform: rotate(180deg);
                content: "";
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
            &:first-of-type {
                &::after {
                    display: block;
                }
            }
        }
        .breadcrumb-item + .breadcrumb-item {
            padding-left: 0;
            font-weight: $semibold;
        }
    }
    .back-link {
        transform: rotate(180deg);
        img {
            width: 20px;
        }
    }
    .icon {
        max-width: 20px;
    }
    .top-item {
        white-space: nowrap;
        border-left: 1px solid rgba(255, 255, 255, 0.34);
        height: 100%;
        display: flex;
        align-items: stretch;
        font-size: 0.8rem;
        .form-group {
            margin-bottom: 0;
            label {
                margin-bottom: 0;
            }
            select {
                min-width: 150px;
                font-size: 0.8rem;
            }
        }
        p {
            display: flex;
            align-items: center;
        }
        &:last-of-type {
            border-right: 1px solid rgba(255, 255, 255, 0.34);
        }
    }
}

@media (max-width: 767.5px) {
    .top-bar {
        .breadcrumb {
            .breadcrumb-item {
                &::after {
                    display: none;
                }
                &:last-of-type {
                    &::after {
                        display: none;
                    }
                }
                &:first-of-type {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .top-bar {
        .top-item {
            font-size: 0.8rem;
            .form-group {
                select {
                    min-width: 120px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .top-bar {
        .breadcrumb {
            font-size: 1rem;
        }
        .back-link {
            img {
                width: 15px;
            }
        }
    }
}
