// colors
$blue: #48a3da;
$red: #ea6666;
$textDark: #000000;
$textLight: #ffffff;
$gray: #ebebeb;

// transitions
$defaultTransition: all 0.25s ease;

//shadows
$defaultShadow: 0 2px 4px rgba(0, 0, 0, 0.16);
